body{overflow-x: hidden;}

/* headere */
header {z-index: 99;position: sticky;top: 0;left: 0;right: 0;width: 100%;height: 70px;background-color: #fff;}
header .inner{display: flex;max-width: 1120px;min-width: 500px;justify-content: space-between;align-items: center;padding: 0 200px;margin: 0 auto;height: 100%;}
header .logo a::before{content:"";position: absolute;top: 50%;left: 0;transform: translateY(-50%);width: 40px;height: 41px;background: url('img/logo.png') no-repeat center / contain;}
header .logo a{position: relative;padding-left: 50px;font-size: 26px;color: #3692FF;text-decoration: none}
header .login{border: none;border-radius: 8px;background: #3692FF;color: #F3F4F6;text-align: center;font-weight: 600;font-size: 16px;text-decoration: none;padding: 15px 30px;}
header .login:hover{background-color: #1967D6;}

/* main */
main{position: relative;width: 100%;height: 540px;background-color: #CFE5FF;}
main .inner{position: absolute;left: 0;right: 0;bottom: 0;width: 1110px;height: 340px;display: flex;margin: 0 auto;}
main .t_wrap{padding-top: 30px;padding-left: 50px;}
main .t_wrap p{margin-bottom: 30px;font-weight: 700;font-size: 40px;line-height: 56px;color: #374151;}
main .t_wrap a{padding: 10px 90px;font-size: 20px;font-weight: 600;text-align: center;color: #fff;background-color: #3692FF;border: none;border-radius: 40px}
main .t_wrap a:hover{background-color: #1967D6;}

/* goods_wrap */
.goods_wrap .goods_list{width: 988px;height: 444px;margin: 138px auto;border-radius: 12px;background-color: #FCFCFC;display: flex;align-items: center;overflow: hidden;}
.goods_wrap .goods_list img{width: 579px;}
.goods_wrap .goods_list .t_wrap{margin: 0 auto;}
.goods_wrap .goods_list .t_wrap .des{font-size: 18px;line-height: 26px;font-weight: 700;color: #3692FF;}
.goods_wrap .goods_list .t_wrap .tit{color: #374151;font-size: 40px;line-height: 56px;font-weight: 700;margin: 12px 0 24px;}
.goods_wrap .goods_list .t_wrap .txt{color: #374151;font-size: 24px;line-height: 32px;font-weight: 500;}

/* trust_wrap */
.trust_wrap{position: relative;width: 100%;height: 540px;background-color: #CFE5FF;}
.trust_wrap .inner{position: absolute;left: 0;right: 0;bottom: 0;width: 1110px;height: 340px;display: flex;justify-content: space-between;margin: 0 auto;}
.trust_wrap .t_wrap{padding-top: 30px;padding-left: 50px;}
.trust_wrap .t_wrap p{margin-bottom: 30px;font-weight: 700;font-size: 40px;line-height: 56px;color: #374151;}
.trust_wrap .t_wrap a{padding: 10px 90px;font-size: 20px;font-weight: 600;text-align: center;color: #fff;background-color: #3692FF;border: none;border-radius: 40px}

/* footer */
footer{width: 100%;height: 160px;background-color: #111827;font-size: 16px;font-weight: 400;}
footer .inner{display: flex;justify-content: space-between;max-width: 1110px;margin: 0 auto;padding: 32px 50px 0;}
footer > p, footer> ul{padding-top: 32px;}
footer .copy{color: #9CA3AF;}
footer .menu{display: flex;gap: 30px;}
footer .menu a{color:#E5E7EB;text-decoration: none;}
footer .menu a:hover{opacity: 0.5;}
footer .sns{display: flex;gap: 12px;}
footer .sns li{width: 20px;height: 20px;background-position: center;background-repeat: no-repeat;font-size: 0;}
footer .sns li:hover{filter: opacity(0.5);}
footer .sns li:nth-child(1){background-image: url('img/ic_facebook.png');}
footer .sns li:nth-child(2){background-image: url('img/ic_twitter.png');}
footer .sns li:nth-child(3){background-image: url('img/ic_youtube.png');}
footer .sns li:nth-child(4){background-image: url('img/ic_instagram.png');}
footer .sns li a{display: inline-block;width: 100%;height: 100%;}