* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 200px;
  background-color: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 1120px;
  margin: 0 auto;
  padding: 10px 0;
}

.btn {
  border: none;
  background-color: #3692ff;
  color: #f3f4f6;
  transition: all 0.2s;
  cursor: pointer;
}

.btn:hover {
  background-color: #1251aa;
}

.header button {
  width: 128px;
  height: 48px;
  padding: 12px 23px;
  border: none;
  border-radius: 8px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 26px;
}

.main-section-top {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 72px;
  width: 100%;
  height: 540px;
  background-color: #cfe5ff;

  @media (max-width: 1024px) {
    height: auto;
  }
}

.main-section-top-container {
  display: flex;
  width: 1110px;

  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column;
  }
}

.main-section-top-content {
  margin: 40px 0;

  @media (max-width: 1024px) {
    text-align: center;
  }
}

.main-section-top-content > button {
  width: 100%;
  height: 56px;
  margin: 40px 0;
  padding: 12px 124px;
  border-radius: 40px;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 32px;
  color: #f9fafb;

  @media (max-width: 1024px) {
    width: 50%;
  }
}

.section-title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 56px;
}

.section-title.bottom {
  padding-bottom: 60px;
}

.main-section-mid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1920px;
  padding: 138px 0;
}

.main-section-mid-container {
  display: flex;
  gap: 64px;
  padding: 0 23.5px;
  background-color: #fcfcfc;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.main-section-mid-content p:nth-child(1) {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 26px;
  color: #3692ff;
}

.main-section-mid-content p:nth-child(2) {
  margin: 12px 0px 24px;
  font-size: 4rem;
  font-weight: 700;
  line-height: 56px;
}

.main-section-mid-content p:nth-child(3) {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 32px;
}

.main-section-mid-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.main-section-mid-content.second {
  text-align: right;
}

.main-section-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 540px;
  background-color: #cfe5ff;

  @media (max-width: 1024px) {
    height: auto;
  }
}

.main-section-bottom-container {
  display: flex;
  align-items: center;

  @media (max-width: 1024px) {
    flex-direction: column;
    padding-top: 50px;
  }
}

footer {
  width: 100%;
  height: 160px;
  padding: 32px 400px;
  background-color: #111827;

  @media (max-width: 1024px) {
    padding: 32px 10px;
  }
}

.footer-var {
  display: flex;
  justify-content: space-between;
  color: white;
}

.footer-var-content {
  display: flex;
  gap: 30px;
}

.footer-var p:nth-child(1) {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #9ca3af;
}

.footer-var-content p:nth-child(1) {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  color: #e5e7eb;
}

.footer-snsIcon {
  display: flex;
  gap: 12px;
  width: 116px;
  list-style-type: none;
}
