/* 모든 요소의 크기를 테두리 포함하도록 설정 */
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  font-family: "Pretendard-Regular";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 640px;
}

.logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 396px;
  height: 132px;
  gap: 8px;
  padding-bottom: 40px;
}

.logo__link {
  text-decoration: none;
  color: #3692ff;
}

h1 {
  font-size: 66px;
  font-weight: 700;
  line-height: 89.56px;
}

.signup__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.form__group-input {
  height: 56px;
  border-radius: 12px;
  border: 0px;
  background-color: #f3f4f6;
  padding: 15px 24px;
  width: 100%;
}

.form__group-input:focus {
  border: 1px solid #3692ff;
  outline: none;
}

.form__group-input::placeholder {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.form__group-label {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.form__group-input-container {
  position: relative;
}

.form__group-img {
  position: absolute;
  top: 15px;
  right: 24px;
}

.signup-button {
  width: 100%;
  height: 56px;
  border-radius: 40px;
  background-color: #9ca3af;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #f3f4f6;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  border: 0;
}

.signup-button:hover,
.form__group-img:hover {
  cursor: pointer;
}

.social-login__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 23px;
  width: 100%;
  border-radius: 8px;
  background-color: #e6f2ff;
}

.social-login__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.social-login__container > p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #1f2937;
}

.login__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.login__container > p {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #1f2937;
}

.login__link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #3692ff;
}

@media screen and (max-width: 767px) {
  .signup {
    padding: 0 16px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  .logo__container {
    width: 100%;
    height: auto;
    padding-bottom: 24px;
  }

  .logo__img {
    width: 51px;
    height: auto;
  }

  .logo__link-header {
    font-size: 34px;
    line-height: 44px;
  }

  .form__container {
    gap: 16px;
  }

  .form__group {
    gap: 8px;
  }

  .form__group-label {
    font-size: 14px;
    line-height: 24px;
  }

  .signup-button {
    font-size: 20px;
    line-height: 32px;
  }

  .social-login__icon {
    gap: 16px;
  }

  .login__container {
    gap: 4x;
  }
}
