.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  margin: 4rem 0;

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid var(--color-secondary-200);
    font-weight: 600;
    color: var(--color-secondary-500);

    &:hover {
      background: var(--color-secondary-100);
    }

    &.active {
      border-color: var(--color-primary-200);
      background: var(--color-primary-200);
      color: var(--color-white);
    }

    &:disabled {
      opacity: 0.3;
    }
  }
}
