.container {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  max-width: 120rem;
  margin: 2.4rem auto;

  @media (max-width: 1200px) {
    padding: 2.4rem;
  }
}

.btn {
  box-sizing: border-box;
  width: 24rem;
  margin: 0 auto;
  padding: 1.2rem 3.6rem;
  font-weight: 600;
  font-size: 1.8rem;
}
