html {
  font-size: 62.5%;
}

body {
  min-width: 37.5rem;
  background: #fcfcfc;
  font-family: "Pretendard", sans-serif;
  font-size: 1.6rem;
  line-height: 1.3;
  color: var(--color-seondary-800);
}
