.form {
  padding: 24px;
  margin: 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.register {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.registerButton {
  padding: 12px 23px;
  border-radius: 8px;
  border: none;
  background-color: #9ca3af;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: #f3f4f6;
}

.formtitle {
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

.formlabel {
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
}

.formdatas {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.forminput {
  width: 1, 200px;
  height: 56px;
  padding: 16px 24px;
  border: none;
  border-radius: 12px;
  background: #f3f4f6;
}

.forminput::placeholder {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #9ca3af;
}

.inputtextarea {
  width: 1200px;
  height: 282px;
  padding: 16px 24px;
  border: none;
  border-radius: 12px;
  background: #f3f4f6;
}

.inputtextarea::placeholder {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #9ca3af;
}
