*{
    box-sizing: border-box;
}

input:focus {
    outline: 2px solid #3692FF;
  }
label{
    display: block;
    margin-bottom: 16px;
}
.signup-container{
    width: 640px;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 48px auto 0px;
   
}
#fandalogo{
    width: 396px;
    height: 132px;
}
.main{
    width:100%;
    gap: 24px;
    display: flex;
    flex-direction: column;
}
.email-box{
    width:100%;
    gap: 16px;
    margin-bottom: 24px;
}
#email{
    width:100%;
    display: flex;
    border-radius: 9px;
    background: #F3F4F6;
    border: none;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 15px 24px;
    
}
.nickname-box{
    width:100%;
    gap: 16px;
    margin-bottom: 24px;
}
#nickname{
    width:100%;
    
    border-radius: 9px;
    background: #F3F4F6;
    border: none;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 15px 24px;
}
label{
    top:0;
    left:0;
    font-family: Pretendard;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;

}
#pwd{
    width:100%;
    border-radius: 9px;
    background: #F3F4F6;
    border: none;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 15px 24px;
    display: flex;
}
.pwd-box{
    width:100%;
    gap: 16px;
    display: block;
    margin-bottom: 24px;
}
.input-box{
    width:100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between
}
#eyes{
    display: block;
    position: absolute;
    right: 24px;
    cursor: pointer;
    
}
.pwd-check-box{
    width:100%;
    gap: 16px;
    display: block;
    margin-bottom: 24px;
}
#pwd-check{
    width:100%;
    border-radius: 9px;
    background: #F3F4F6;
    border: none;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 15px 24px;
    display: flex;
}

.button{
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9CA3AF;
    border-radius: 40px;
    border: none;
    font-family: Pretendard;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
}
.easy-login{
    padding: 16px 23px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #E6F2FF;
}
h3{
    margin : 0;
}
.signup-box{
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4px;

}
a{
    text-decoration: underline;
    color: #3692FF;

}
/* mobile 사이즈 */
@media(max-width: 767px){
    #fandalogo{
        width:198px;
        height: 66px;
    }
    .signup-container{
        width:100%;
        margin: 24px auto;
        max-width: 400px;
    }
    .easy-login{
        width: 100%;
    }
}