* {
  box-sizing: border-box;
}

html,body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}


.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 640px;
  margin: auto;
}

.info__signup.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 24px;
  width: 640px;
}

.signup__btn {
  background-color: #9CA3AF;
  color: #F3F4F6;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  margin: 24px auto;
  padding: 16px 124px;
  border: 0;
  border-radius: 40px;
  display: block;
}

.login__container {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #1f2937;
}