*{box-sizing: border-box;}

body{
margin: 0;
padding:0;
width: 100%;



#top{
 position:fixed;
 top:0;
 left:0;
 width:100%;
 height:70px;
 gap:10px;
 background-color: #ffffff;
 display:grid;
 grid-template-columns: minmax(200px, 1fr) minmax(720px, 1120px) minmax(200px, 1fr);
 
}
.face{
    
    cursor: pointer;
}
.market{
    display:flex;
    justify-content:space-between;
    align-items: center;
    height:100%;
    grid-column:2;
    
}


.login{
  display:block;
  background-color: #3692ff;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 50px;
  width:128px;
  height: 48px;
  padding: 12ox 23px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  
}

.change{
    display:flex;
    flex-direction: center;
    height: 540px;
    background-color: #CFE5FF;
    justify-content: center;
}
.size{
    display:flex;
    width:1110px;
    height:340px;
    position:relative;
    top:200px;
    gap:7px;
    
}
#do{
    width: 357px;
    height: 260px;
}
.go{
    height:112px;
    font-size:40px;
    line-height:56px;
    font-weight:700;
}
.see{
    background-color: #3692ff;
    font-size:20px;
    font-weight: 600;
    line-height: 32px;
    text-align:center;
    border: none;
    border-radius: 40px;
    padding: 16px 110px;
    gap:10px;
    width: 357px;
    height:56px;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}
.main{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item{
  
   height:720px;
   padding:138px 466px;
   gap:10px
}
.soso{
    width:988px;
    height:444px;
    border:1px solid #ffffff;
    border-radius:12px;
    gap:64px;
    background-color:#FCFCFC;
    display:flex;
    justify-content:center;
    align-items:center;
}

.very{
   width:359px;
   height:238px;
   padding-right: 24px;
   display:flex;
   flex-direction: column;
   gap:24px;
}
.Hot{
   width: 80px;
   height: 26px;
   font-size:18px;
   font-weight: 700;
   line-height: 26px;
   color:#3692ff;
}
.cool{
  width:350px;
  height:112px;
  font-size:40px;
  font-weight: 700;
  line-height: 56px;
  color: #374151;
  
}
.cold{
   width:350px;
   height:64px;
   font-size:21px;
   font-weight:500;
   line-height:32px;
   color:#374151;
   
}
.eye{
    height:720px;
    padding:138px 466px;
    gap:10px
}
.leg{
    width:988px;
    height:444px;
    border:1px solid #ffffff;
    border-radius:12px;
    gap:64px;
    background-color:#FCFCFC;
    display:flex;
    justify-content:center;
    align-items:center;
}
.nose{
    
    height: 26px;
    font-size:18px;
    font-weight: 700;
    line-height: 26px;
    color:#3692ff;
}
.eat{
    width:320px;
    height:112px;
    font-size:38px;
    font-weight: 700;
    line-height: 56px;
    color: #374151;

}
.arm{
    width:320px;
    height:64px;
    font-size:22px;
    font-weight:500;
    line-height:32px;
    color:#374151;
}
.finger{
    text-align: right;
    display:flex;
    flex-direction: column;
    gap: 24px;
}
.line{
    width:100%;
    height:138px;
    background-color: #f3f4f6;
}
.console{
  
  top: 3448px;
  padding:32px 400px;
  gap: 10px;
  background-color: #111827;
  height:160px;
  
}
.home{
  display:flex;
  justify-content: space-between;
  align-items: center;
  bottom: 108px;
  top:32px;
  color:#ffffff;

}
.it{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:30px;
  
}
.link{
    cursor: pointer;
}

.hoot ,
.chu{
    text-decoration: none;
    color: #ffffff;
}