* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

:root {
  --blue: #3692ff;
  --gray900: #111827;
  --gray800: #1f2937;
  --gray700: #374151;
  --gray600: #4b5563;
  --gray500: #6b7280;
  --gray400: #9ca3af;
  --gray200: #e5e7eb;
  --gray100: #f3f4f6;
  --gray50: #f9fafb;
}


.banner {

  background-color: #CFE5FF;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 200px;
  margin: 70px 0 0;
}



.banner__contents-box {
  width: 100%;
  max-width: 1110px;
  position: relative;
  z-index: 1;
}

.banner__img {
  position: absolute;
  right: 200px;
  bottom: 0;
}




.banner__contents-box__description {
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  color: #374151;
  margin: 40px 0;
  width: 300px;

}

.banner__contents-box__cta {
  font-weight: 400;
  font-size: 20px;
  padding: 16px 124px;
  background-color: #3692FF;
  color: white;
  border-radius: 40px;
  text-decoration: none;
  display: inline-block;


}

.main-header {
  background-color: #ffffff;

  padding: 10px 200px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

}

.main-header__logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-header__logo-img {
  width: 50px;
}

.main-header__logo-title {
  flex-grow: 1;
  color: #3692FF;
  font-weight: 800;
  font-size: 25px;
}

.main-header__login-button {
  text-decoration: none;
  background-color: #3692FF;
  width: 128px;
  height: 48px;
  border-radius: 8px;
  /* 텍스트 */
  color: white;
  font-weight: 600;
  font-size: 16px;
  /* 텍스트 중앙정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  height: 720px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__container {
  background-color: #FCFCFC;
  display: flex;
  width: 988px;
  height: 444px;
  border-radius: 12px;
  gap: 50px;
}

.section__contents-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.section__contents-box__title {
  margin: 20px 0;
  font-size: 40px;
  font-weight: 700;
  color: #374151;
}

.section__contents-box__span {
  font-size: 18px;
  font-weight: 700;
  color: #3692FF;
}

.section__contents-box__description {
  font-size: 24px;
  font-weight: 500;
  color: #374151;
}

.section__contents-box.textright {
  text-align: right;
}


.footer {
  background-color: #111827;
  height: 180px;
  color: white;
  display: flex;
  justify-content: center;
  padding: 30px 200px 0;

}

.footer__help {
  display: flex;
  gap: 20px;
}

.footer__help a {
  color: #E5E7EB;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

.footer__contents-box {
  display: flex;
  width: 100%;

}

.footer__contents-box span {
  color: #9CA3AF;
  font-size: 16px;
  font-weight: 400;
}

.footer__link {
  display: flex;
  gap: 10px;
  flex-grow: 1;
  justify-content: right;
}

.footer__link img {
  width: 20px;
  height: 20px;
}

.footer__wrap {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}


/* Tablet */
@media (max-width: 1199px) {

  /* header */
  .main-header {
    padding: 10px 24px;
  }

  /* banner */
  .banner {
    height: 771px;
    align-items: start;
    padding: 0 0;
  }

  .banner__contents-box {
    text-align: center;
    margin-top: 50px;
  }

  .banner__contents-box__description {
    text-align: center;
    margin: 20px 0;
    width: 100%;
  }

  .banner__img {
    right: 0;
    width: 100%;
  }

  /* section */

  .section {
    height: 800px;
  }

  .section__container {
    flex-direction: column;
    width: 696px;
    height: 740px;
    gap: 20px;
    background-color: #ffffff;
  }

  .section__contents-box__span {
    font-size: 18px;
  }

  .section__contents-box__title {
    font-size: 32px;
    margin: 20px 0;
  }

  .section__contents-box__description {
    font-size: 18px;
  }

  .justify-reverse {
    flex-direction: column-reverse;
  }

  .secondary-banne {
    height: 927px;
    padding: 150px 0 0;
  }

  /* footer */
  .footer {
    padding: 30px 100px 0;
  }


}

/* Mobile */
@media (min-width: 375px) and (max-width: 767px) {

  /* banner */
  .banner__contents-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .banner__contents-box__description {
    width: 240px;
    font-size: 32px;
    line-height: 44px;
  }

  /* section */
  .section {
    height: 500px;
  }

  .section__container {
    width: 344px;
    height: 417px;
  }

  .section__contents-box__span {
    font-size: 16px;
  }

  .section__contents-box__title {
    font-size: 24px;
    margin: 20px 0;
  }

  .section__contents-box__description {
    font-size: 16px;
  }

  .secondary-banner {
    height: 540px;
    padding: 50px 0 0;
  }

  /* footer */
  .footer {
    padding: 30px 30px 30px;
  }

  .footer__help {
    justify-content: space-between;
  }

  .footer__wrap {
    flex-direction: column-reverse;
  }
}