* {
    box-sizing: border-box;
}

:root {
    --gray900: #111927;
    --gray800: #1f2937;
    --gray700: #374151;
    --gray600: #4B5563;
    --gray500: #6B7280;
    --grat400: #9ca3af;
    --gary200: #e5e7eB;
    --gray100: #F3F4F6;
    --gray50: #f9fafb;
    --blue: #3692ff;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "pretendard";
}

.top {
    background-color: #ffffff;
    width: 100%;
    max-width: 1920px;
    height: 72px;
    padding: 9px 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

}

.face {
    display: block;
    cursor: pointer;
}



.login {
    background-color: #3692ff;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 128px;
    padding: 12px 23px;
    border-radius: 8px;
    flex-shrink: 0;

}

.change {
    display: flex;
    align-items: flex-end;
    max-width: 1920px;
    padding: 0px 200px;
    margin:0px auto;
    height: 540px;
    background-color: #CFE5FF;
    justify-content: center;
}

.size {
    display: flex;
    width: 1110px;
    height: 340px;
    
    top: 200px;
    gap: 7px;

}

.do {
    width: 357px;
    height: 260px;
}

.go {
    height: 112px;
    font-size: 40px;
    line-height: 56px;
    font-weight: 700;
}

.see {
    background-color: #3692ff;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    border: none;
    border-radius: 40px;
    padding: 16px 110px;
    gap: 10px;
    width: 357px;
    height: 56px;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item {    
    padding: 138px 466px;
    gap: 10px
}

.soso {
    width: 988px;
    height: 444px;
    border: 1px solid #ffffff;
    border-radius: 12px;
    gap: 64px;
    background-color: #FCFCFC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.very {
    width: 359px;
    height: 238px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.Hot {
    width: 80px;
    height: 26px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: #3692ff;
}

.cool {
    width: 350px;
    height: 112px;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    color: #374151;

}

.cold {
    width: 350px;
    height: 64px;
    font-size: 21px;
    font-weight: 500;
    line-height: 32px;
    color: #374151;

}

.eye {
    padding: 138px 466px;
    gap: 10px
}

.leg {
    width: 988px;
    height: 444px;
    border: 1px solid #ffffff;
    border-radius: 12px;
    gap: 64px;
    background-color: #FCFCFC;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.nose {

    height: 26px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: #3692ff;
}

.eat {
    width: 320px;
    height: 112px;
    font-size: 38px;
    font-weight: 700;
    line-height: 56px;
    color: #374151;

}

.arm {
    width: 320px;
    height: 64px;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    color: #374151;
}

.finger {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 24px;
}



.console {

    top: 3448px;
    padding: 32px 400px;
    gap: 10px;
    background-color: #111827;
    height: 160px;

}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 108px;
    top: 32px;
    color: #ffffff;

}

.it {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

.link {
    cursor: pointer;
}

.hoot,
.chu {
    text-decoration: none;
    color: #ffffff;
}
.footer-title{
    background-color: #CFE5FF;
    width: 100%;
    max-width: 1920px;
    padding: 0 200px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    height: 540px;
}

.footer-content-main{
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    margin: 0;

}
.footer-content{
    margin-bottom: 180px;
    flex-shrink: 0;
}
.footer-main{
    background-color: #111827;
    width: 100%;
    max-width: 1920px;
    padding: 32px 200px;
    margin: 0 auto;
    height: 160px;

}
/* 기본 스타일은 PC(1200px 이상) 기준으로 작성된 것으로 가정 */

/* Tablet: 768px 이상 ~ 1199px 이하 */
@media (min-width: 768px) and (max-width: 1199px) {
    .top {
        padding-left: 24px;
        padding-right:24px;
    }
    
    .face {
        flex-direction: row;
        padding: 0 20px;
    }
    .change{
        height: 771px;
        align-items: center;
        flex-direction:column;
        justify-content: flex-end;

    
    }
    .size {
        flex-direction: column;
        top:84px;
        gap:24px;
        align-items: center;

    }
    .main{
        gap:52px;
        margin-bottom: 56px;

    }
    
    .go{
        width: 100%;
        white-space: nowrap;
        
    }
    .see{
        width: 100%;
        font-size: 18px;
    }
    .img-one{
        
        height:340px;
    }
    .soso, .leg {
        width: 100%;
        height: auto;
        display:flex;
        flex-direction: column;
        gap:24px;
    }
    .item, .eye{
        width:100%;
        padding:0 24px;
        margin:24px auto 44px;
    }
    .footer-title{
        padding: 0;
        height: 843px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    
    .footer-content-main{
        font-size: 40px;
        font-weight: 700;
        line-height: 56px;
        margin: 0;
    
    }
    .footer-content{
        margin-bottom: 180px;
        flex-shrink: 0;
    }
    .footer-main{
        background-color: #111827;
        width: 100%;
        max-width: 1920px;
        padding: 32px 200px;
        margin: 0 auto;
        height: 160px;
    
    }
}

/*모바일화면*/
@media (min-width: 375px) and (max-width: 767px) {
    .top {
        padding-left: 16px;
        padding-right:16px;
    }
    
    .face {
        flex-direction: row;
        padding: 0 20px;
    }
    .change{
        height: 540px;
        align-items: center;
        flex-direction:column;
        justify-content: flex-end;

    
    }
    .size {
        flex-direction: column;
        top:48px;
        gap:18px;
        align-items: center;
        width: 240px;
        height: 156px;
        text-align: center;
        margin-bottom:100px;
    }
    .main{
        gap:40px;
        margin-bottom: 56px;

    }
    
    .go{
        width: 100%;
        white-space: nowrap;
        font-size:32px;
        
    }
    .see{
        width: 100%;
    }
    .img-one{
        width:448px;
        height:204px;
    }
    .very{
        width: 240px;
        height: 134px;
        gap:16px;
    
    }
    .panda-img-box, .panda-img-box2{
        width: 100%;
        height: 259px;

    }
    .panda-img-box3{
        width: 100%;
        height: 259px;
    }
    .hot, .nose{
        font-size:16px;        
    }
    .cool, .eat{
        font-size:24px;

    }
    .cold, .arm{
        font-size:16px;
    }
    .soso, .leg {
        width: 344px;
        height: 417px;
        display:flex;
        flex-direction: column;
        gap:24px;
    }
    .item, .eye{
        
        padding:0 16px;
        margin:44px auto;
    }
    .footer-title{
        padding: 0;
        height: 540px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    
    .footer-content-main{
        font-size: 32px;
        font-weight: 700;
        line-height: 56px;
        margin: 0;
        text-align: center;
    }
    .footer-content{
        flex-shrink: 0;
        width:236px;
        height: 90px;
        margin-bottom:100px;
    }
    .footer-main{
        padding-left: 32px;
        padding-right: 32px;
        
    }
    .panda-img-box4{
        width: 375px;
        height: 198px;
    }
    .home{
    position:sticky;
    }
    .domain{
        position: absolute;
        top:32px;
    }
}
