.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  font-weight: 700;
  font-size: 18px;
  color: #1f2937;
}

.textarea {
  border: none;
  border-radius: 12px;
  padding: 16px 24px;
  font-size: 16px;
  background-color: #f3f4f6;
}
