* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/npm/pretendard/dist/web/static/woff2/Pretendard-Regular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/npm/pretendard/dist/web/static/woff/Pretendard-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  font-family: "Pretendard", sans-serif;
}
