* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Pretendard';
  src: url('fonts/Pretendard-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('fonts/Pretendard-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Pretendard', sans-serif;
  margin: 0;
  padding: 0;
}

/* header logo + login */
header.main-header {
  background-color: #ffffff;
  width: 100%;
  max-width: 1920px;
  height: 72px;
  padding: 9px 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
} 

.main-header__logo {
  display: inline-block;
}

.main-header__logo-img {
  width: 153px;
}

header a.main-header__login {
  background-color: #3692ff;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 128px;
  padding: 12px 23px;
  border-radius: 8px;
  flex-shrink: 0;
}

/* header + footer banner */
.banner {
  background-color: #CFE5FF;
  width: 100%;
  max-width: 1920px;
  height: 612px;
  padding: 0 200px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}

.banner__contents {
  margin-bottom: 170px; 
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.footer-banner__contents {
  margin-bottom: 180px;
  flex-shrink: 0;
}

.banner__contents--title,
.footer-banner__contents--title {
  font-size: 38px;
  font-weight: 700;
  line-height: 56px;
  margin: 0;
}

.banner__contents--cta {
  background-color: #3692ff;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  padding: 12px 71px;
  border-radius: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* main */
.main-section {
  background-color: #ffffff;
  width: 100%;
  max-width: 1920px;
  padding: 138px 200px;
  margin: 0 auto;
}

.content-section,
.content-section__flex-reverse {
  background-color: #FCFCFC;
  width: 998px;
  height: 444px;
  border-radius: 12px;
  margin: 0 auto;
  display: flex;
  gap: 16px;
}

.content-section__flex-reverse {
  flex-direction: row-reverse;
}

.content-section__img-box {
  background-image: url('img/Img_home_01.png');
}

.content-section__img-box__02 {
  background-image: url('img/Img_home_02.png');
}

.content-section__img-box__03 {
  background-image: url('img/Img_home_03.png');
}

.content-section__img-box,
.content-section__img-box__02,
.content-section__img-box__03 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 559px;
  margin: 0 20px;
}

.content-section__text-box,
.content-section__text-box__02 {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.content-section__text-box__02 {
  text-align: right;
}

.content-section__text-box--label {
  color: #3692FF;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.content-section__text-box--title {
  color: #374151;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  margin: 0;
}

.content-section__text-box--description {
  color: #374151;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

/* footer */
.main-footer {
  background-color: #111827;
  width: 100%;
  max-width: 1920px;
  padding: 32px 200px;
  margin: 0 auto;
  height: 160px;
}

.main-footer__logo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.main-footer h3 {
  color: #9CA3AF;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  flex-shrink: 0;
}

.main-footer__logo--cta {
  display: flex;
  gap: 30px;
}

.main-footer__logo--cta a {
  color: #E5E7EB;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  flex-shrink: 0;
}

.main-footer__logo--sns {
  display: flex;
  gap: 12px;
  flex-shrink: 0;
}
