* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Pretendard';
  src: url('fonts/Pretendard-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('fonts/Pretendard-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Pretendard', sans-serif;
  margin: 0;
  padding: 0;
}

/* header logo + login */
header.main-header {
  background-color: #ffffff;
  width: 100%;
  max-width: 1920px;
  height: 72px;
  padding: 9px 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
} 

.main-header__logo {
  display: block;
}

.main-header__logo-img {
  width: 153px;
}

header a.main-header__login {
  background-color: #3692ff;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 128px;
  padding: 12px 23px;
  border-radius: 8px;
  flex-shrink: 0;
}

.main-header__login:hover,
.banner__contents--cta:hover {
  background-color: #217ded;
}

/* header + footer banner */
.banner,
.footer-banner {
  background-color: #CFE5FF;
  width: 100%;
  max-width: 1920px;
  padding: 0 200px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}

.banner {
  height: 612px;
}

.footer-banner {
  height: 540px;
}

.banner__contents {
  margin-bottom: 170px; 
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.footer-banner__contents {
  margin-bottom: 180px;
  flex-shrink: 0;
}

.banner__contents--title,
.footer-banner__contents--title {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  margin: 0;
}

.banner__contents--cta {
  background-color: #3692ff;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  padding: 12px 71px;
  border-radius: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.banner__img {
  max-width: 746px;
  width: 100%;
}

/* main */
.main-section {
  background-color: #ffffff;
  width: 100%;
  max-width: 1920px;
  padding: 138px 200px;
  margin: 0 auto;
}

.content-section,
.content-section__flex-reverse {
  background-color: #FCFCFC;
  width: 998px;
  height: 444px;
  border-radius: 12px;
  margin: 0 auto;
  display: flex;
  gap: 44px;
}

.content-section__flex-reverse {
  flex-direction: row-reverse;
}

.content-section__img-box {
  background-image: url('img/Img_home_01.png');
}

.content-section__img-box__02 {
  background-image: url('img/Img_home_02.png');
}

.content-section__img-box__03 {
  background-image: url('img/Img_home_03.png');
}

.content-section__img-box,
.content-section__img-box__02,
.content-section__img-box__03 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 559px;
}

.content-section__img-box,
.content-section__img-box__03 {
  margin-left: 20px;
}

.content-section__img-box__02 {
  margin-right: 20px;
}

.content-section__text-box,
.content-section__text-box__02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.content-section__text-box__02 {
  text-align: right;
}

.content-section__text-box--label {
  color: #3692FF;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.content-section__text-box--title {
  color: #374151;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  margin: 0;
}

.content-section__text-box--description {
  color: #374151;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

/* footer */
.main-footer {
  background-color: #111827;
  width: 100%;
  max-width: 1920px;
  padding: 32px 200px;
  margin: 0 auto;
  height: 160px;
}

.main-footer__logo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.main-footer h3 {
  color: #9CA3AF;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  flex-shrink: 0;
}

.main-footer__logo--cta {
  display: flex;
  gap: 30px;
}

.main-footer__logo--cta a {
  color: #E5E7EB;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  flex-shrink: 0;
}

.main-footer__logo--cta a:hover {
  color: #aaa8ad;
}

.main-footer__logo--sns {
  display: flex;
  gap: 12px;
  flex-shrink: 0;
}


/* tablet사이즈 */
@media (max-width: 1199px) {
  .banner__contents--title br,
  .content-section__text-box--title br {
    display: inline-block;
       content: " ";
       padding: 0 2px;
  }

  /* header logo + login */
  header.main-header {
    padding-left: 24px;
    padding-right: 24px;
  }

  /* header + footer banner */
  .banner,
  .footer-banner {
    padding: 0;
    height: 843px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .banner__contents {
    width: 100%;
    align-items: center;
    gap: 18px;
  }

  .banner__contents--title,
  .footer-banner__contents--title {
    text-align: center;
  }

  .banner__contents--title {
    width: 100%;
  }

  .banner__contents--cta {
    width: 357px;
  }

  /* main */
  .main-section {
    padding:0 24px;
    margin: 24px auto 44px;
  }

  .content-section,
  .content-section__flex-reverse {
    width: 696px;
    height: 708px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .content-section__img-box,
  .content-section__img-box__02,
  .content-section__img-box__03 {
    width: 100%;
    height: 524px;
    border-radius: 12px;
    margin: 0;
  }

  .content-section__text-box,
  .content-section__text-box__02 {
    padding: 0 24px;
    gap: 16px;
}

  .content-section__text-box--label {
    margin: 0;
  }

  .content-section__text-box--title {
    font-size: 32px;
    line-height: 42px;
  }

  .content-section__text-box--description {
    font-size: 18px;
    line-height: 26px;
    margin-top: 8px;
  }
}


/* mobile 사이즈 */
@media (min-width: 375px) and (max-width: 767px) {
  /* header logo + login */
  header.main-header {
    padding-left: 16px;
    padding-right: 16px;
  }

  /* header + footer banner */
  .banner {
    height: 612px;
  }

  .footer-banner {
    height: 540px;
  }

  .banner__contents,
  .footer-banner__contents {
    margin-bottom: 100px;
  }

  .banner__contents{
    width: 240px;
  }

  .banner__contents--title,
  .footer-banner__contents--title {
    text-align: center;
    font-size: 32px;
    line-height: 44px;
  }

  .banner__contents--cta {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    height: 48px;
  }

  .banner__img {
    width: 448px;
  }

  /* main */
  .main-section {
    padding:0 16px;
    margin: 44px auto;
  }

  .content-section,
  .content-section__flex-reverse {
    width: 344px;
    height: 417px;
    gap: 24px;
  }

  .content-section__img-box,
  .content-section__img-box__02,
  .content-section__img-box__03 {
    width: 100%;
    height: 259px;
    border-radius: 7px;
  }

  .content-section__text-box,
  .content-section__text-box__02 {
    padding: 0 10px;
    gap: 8px;
  }
  
  .content-section__text-box--label {
    font-size: 16px;
  }

  .content-section__text-box--title {
    font-size: 24px;
    line-height: 32px;
  }

  .content-section__text-box--description {
    font-size: 16px;
    margin-top: 8px;
  }

  /* footer */
  .main-footer {
    padding-left: 32px;
    padding-right: 32px;
  }

  .main-footer {
    position: relative;
  }

  .main-footer__logo h3 {
    position: absolute;
    left: 32px;
    bottom: 32px;
  }
}