.itemCard {
  overflow: hidden;
}

.itemCard:hover {
  cursor: pointer;
  border: 0.1rem solid var(--color-primary-400);
  animation: vibration 0.1s 2;
}

@keyframes vibration {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(-1deg);
  }
}

.itemCardImg {
  width: 100%;
  height: auto;
  margin-bottom: 1.6rem;
  object-fit: cover;
  border-radius: 1.6rem;
  border: 1px solid rgb(61, 3, 3);
  overflow: hidden;
  aspect-ratio: 1;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.itemName {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: #1f2937;
}

.itemPrice {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: #1f2937;
}

.iconContainer {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.heartIcon {
  width: 1.6rem;
  height: 1.6rem;
}

.favoriteCount {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8rem;
}
