.container {
  max-width: 120rem;
  margin: 0 auto;

  @media (max-width: 1199px) {
    margin: 0 2.4rem 7.8rem 2.4rem;
  }

  @media (max-width: 767px) {
    margin: 0 1.5rem 7rem 1.5rem;
  }
}

.titleSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 0;

  @media (max-width: 1199px) {
    padding-top: 1.6rem;
    padding-bottom: 2.4rem;
  }

  @media (max-width: 767px) {
    padding: 2.4rem 0;
  }
}

.addItemButton {
  width: 7.4rem;
  height: 4.2rem;
  border-radius: 0.8rem;
  color: var(--secondary-100);
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.6rem;
}
