.addItemPageContainer {
  margin-top: 70px;
}

.titleSection {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  margin-bottom: 16px;
}

.sectionTitle {
  color: #111827;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

.registerButton {
  width: 74px;
  height: 42px;
  border-radius: 8px;
  padding: 12px 23px;
  background-color: var(--blue);
  color: #fff;
  border: none;
}

.registerButton:focus {
  background-color: var(--blue);
}

.registerButton:disabled {
  background-color: #9ca3af;
  cursor: pointer;
  position: none;
}

.inputSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
