* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

body {  
  font-family: 'Pretendard', sans-serif;  
  margin: 0;
  display: flex;
  align-items: center;
}

.main-container {
  width: 640px;
  padding: 24px 0 36px;
  margin: auto;
  line-height: 26px;
  display: flex;
  flex-direction: column;
}

form {
  width: 100%;
  margin: 0 auto;
}

/* logo */
.logo-img {
  width: 396px;
  margin: 0 auto 16px;
  display: block;
}

/* label + input */
label {
  font-size: 18px;
  font-weight: 700;
  margin-top: 24px;
  display: block;
}

input {
  background-color: #F3F4F6;
  color: #9CA3AF;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  border: 0;
  border-radius: 12px;
  display: block;
  width: 100%;
  padding: 16px 24px;
  margin: 16px auto 0;
}

.password-container {
  position: relative;
}

.check-password--img__button {
  background-image: url('../img/check_password.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  border: 0;
  position: absolute;
  bottom: 16px;
  right: 24px;
  cursor: pointer;
}

.show-password {  /* 이미지 클릭시 변경될 값 */
  background-image: url('../img/show_password.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  width: 24px;
  height: 24px;
  border: 0;
  position: absolute;
  bottom: 16px;
  right: 24px;
  cursor: pointer;
}

input:focus {
  color: #1F2937;
  outline: 2px solid #3692FF;
}

/* button */
.sign-up-button {
  background-color: #9CA3AF;
  color: #F3F4F6;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  width: 100%;
  margin: 24px auto 0;
  padding: 16px;
  border: 0;
  border-radius: 40px;
  display: block;
}

/* easy login */
.social-sign-in__text-box {
  background-color: #E6F2FF;
  width: 100%;
  margin: 24px auto;
  padding: 16px 23px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-sign-in__text-box--title {
  color: #1F2937;
  font-size: 16px;
  font-weight: 500;
  margin: 8px 0;
}

.social-sign-in__text-box--sns {
  height: 42px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.social-sign-in__text-box--sns a,
.social-sign-in__text-box--sns a img {
  width: 42px;
  height: 42px;
}

/* login */
.login__text-box {
  color: #1F2937;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  margin: 0 auto;
  text-align: center;
}

.login__text-box--cta {
  color: #3692FF;
  line-height: 16px;
  margin-left: 4px;
  text-decoration: none;
}

.login__text-box--cta:hover {
  text-decoration: underline;
}


/* mobile 사이즈 */
@media (min-width: 375px) and (max-width: 767px) {
  body {
    padding-left: 16px;
    padding-right: 16px;
  }

  label {
    font-size: 14px;
    line-height: 16px;
  }

  .logo-img {
    width: 198px;
  }
}



/* error 발생시 선택자css(in JS) */
.error-message-box {
  color: red;
  font-size: 14px;
  margin-top: 8px;
  display: none; /* 초기에는 숨김 */
}

.error {
  border: 1.5px solid red; /* 오류가 있을 때 빨간색 테두리 */
}

.error:focus {
  outline: 0;
}

/* 버튼 활성화되면 사용 */
.abled-btn { 
  background-color: #3692ff;
  color: #ffffff;
  cursor: pointer;
}