.products-section {
  width: 1200px;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  padding-top: 24px;
}

.favorite-products__container,
.all-products__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.favorite-products__container {
  padding-bottom: 40px;
}

.all-products__container {
  padding-bottom: 43px;
}

.products-section__title--best,
.products-section__title--all {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  color: #111827;
}

.all-products__header {
  display: flex;
  justify-content: space-between;
}

.all-products__search-container {
  display: flex;
  gap: 12px;
  align-items: center;
}

.all-products__input {
  width: 325px;
  height: 42px;
}
