.item {
  display: block;
  background: var(--color-secondary-100);
  padding: 0 2.4rem 1.6rem;
  border-radius: 0.8rem;
  transition: transform 0.2s;
}

.item:hover {
  transform: translateY(-4px);
}

.status {
  margin-bottom: 1.6rem;
}

.header {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 1.6rem;
}

.content {
  flex: 1;
  min-width: 0;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 2rem;
  font-weight: 600;
}

.title:hover {
  text-decoration: underline;
}

.thumbnail {
  width: 7.2rem;
}

.meta {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.date {
  flex: none;
  margin-left: auto;
}
