* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

body {  /* pretendard폰트 가져오는 것을 못하겠음 */
  font-family: 'Pretendard', sans-serif;  
  margin: 0;
}

.form-div {
  padding: 24px 0 36px;
  display: flex;
  align-items: center;
}

form {
  width: 640px;
  margin: auto;
  line-height: 26px;
}

/* logo */
.logo {
  width: 396px;
  margin: 0 auto 40px;
  display: block;
}

/* email + password */
label {
  font-size: 18px;
  font-weight: 700;
  display: block;
}

#input-email,
.input-password {
  background-color: #F3F4F6;
  border-radius: 12px;
  display: block;
  width: 100%;
  margin: 16px auto 24px;
}

#input-email,
#password {
  color: #9CA3AF;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  border: 0;
  border-radius: 12px;
  padding: 16px 24px;
}

.input-password {
  display: flex;
  align-items: center;
}

#password {
  background-color: #F3F4F6;
  width: 100%;
}

.input-password .check-password--img {  /* input태그 안에서 표시되게 해야 함 */
  height: 26px;
  margin-right: 24px;
}

#input-email:focus, 
#password:focus {
  color: #1F2937;
  outline: 2px solid #3692FF;
}

/* button */
.login-button {
  background-color: #9CA3AF;
  color: #F3F4F6;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  width: 100%;
  margin: 24px auto;
  padding: 16px;
  border: 0;
  border-radius: 40px;
  display: block;
}

/* easy login */
.easy-login__text-box {
  background-color: #E6F2FF;
  width: 100%;
  margin: 24px auto;
  padding: 16px 23px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.easy-login__text-box--title {
  color: #1F2937;
  font-size: 16px;
  font-weight: 500;
  margin: 8px 0;
}

.easy-login__text-box--sns {
  height: 42px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.easy-login__text-box--sns a,
.easy-login__text-box--sns a img {
  width: 42px;
  height: 42px;
}

/* sign up */
.sign-up__text-box {
  color: #1F2937;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  margin: 0 auto;
  text-align: center;
}

.sign-up__text-box .sign-up__text-box--cta {
  color: #3692FF;
  line-height: 16px;
  margin-left: 4px;
  text-decoration: none;
}