@charset "utf-8";

/* auth */
.auth-container {
  max-width: calc(64rem + var(--gutter) * 2);
  margin: 0 auto;
  padding: 12rem var(--gutter);

  @media (width < 768px) {
    max-width: calc(40rem + var(--gutter) * 2);
    padding: 8rem var(--gutter);
  }
}

.auth-header {
  margin-bottom: 4rem;
  text-align: center;

  @media (width < 768px) {
    margin-bottom: 2.4rem;
  }
}

.auth-header .auth-logo a {
  display: inline-block;
  height: 13.2rem;

  @media (width < 768px) {
    height: 6.6rem;
  }
}

.auth-header .auth-logo img {
  width: auto;
  height: 100%;
}

.auth-body {
  margin-bottom: 2.4rem;
}

.form-item {
  margin-bottom: 2.4rem;

  @media (width < 768px) {
    margin-bottom: 1.6rem;
  }
}

.form-item .item-label {
  display: inline-block;
  margin-bottom: 1.6rem;
  font-size: 1.8rem;
  font-weight: 700;

  @media (width < 768px) {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
  }
}

.form-item .item-field {
  position: relative;
}

.form-item .input-box {
  display: block;
  width: 100%;
  height: 5.6rem;
  padding: 0 2.4rem;
  border: 1px solid transparent;
  border-radius: 12px;
  background: var(--color-seondary-100);
}

.form-item .input-box:focus,
.form-item .input-box.valid {
  border: 1px solid var(--color-primary-100);
  outline: none;
}

.form-item:has(.item-error) .input-box {
  border: 1px solid var(--color-error);
  outline: none;
}

.form-item .input-box::placeholder {
  color: var(--color-seondary-400);
}

.form-item:has(.item-btn) .input-box {
  padding-right: 5rem;
}

.form-item .item-error {
  margin-top: 0.8rem;
  padding-left: 1.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-error);
}

.form-item .item-btn {
  position: absolute;
  top: 50%;
  right: 2.4rem;
  transform: translateY(-50%);
  width: 2.4rem;
  height: 2.4rem;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.form-item .visibility-btn .icon-visibility-off,
.form-item .visibility-btn.on .icon-visibility-on {
  display: none;
}
.form-item .visibility-btn.on .icon-visibility-off {
  display: block;
}

.oauth-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
  padding: 1.6rem 2.3rem;
  border-radius: 8px;
  background: #e6f2ff;
}

.oauth-label {
  font-weight: 500;
}

.oauth-providers {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.oauth-provider {
  display: block;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
}

.oauth-provider img {
  width: 100%;
  height: auto;
}

.auth-options {
  text-align: center;
  font-size: 1.4rem;
}

.auth-options a {
  color: var(--color-primary-100);
  text-decoration: underline;
}
