@charset "utf-8";

/* temporary page ui */
.temp-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  height: 100vh;
}

.temp-wrapper .page-content {
  text-align: center;
}

.temp-wrapper .page-title {
  margin-bottom: 0.3em;
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-seondary-700);
}

.temp-wrapper .page-description {
  color: var(--color-seondary-400);
}

/* common - button */
[class^="btn-"] {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-primary-100);
  color: var(--color-white);
}

[class^="btn-"]:hover {
  background: var(--color-primary-200);
}

[class^="btn-"]:active {
  background: var(--color-primary-300);
}

[class^="btn-"]:disabled {
  background: var(--color-seondary-400);
  cursor: not-allowed;
}

.btn-xl {
  width: 100%;
  height: 5.6rem;
  border-radius: 9999px;
  font-size: 2rem;
  font-weight: 600;
}

.btn-lg {
  width: 35.7rem;
  height: 5.6rem;
  border-radius: 9999px;
  font-size: 2rem;
  font-weight: 600;
}

.btn-md {
  width: 24rem;
  height: 4.8rem;
  border-radius: 9999px;
  font-size: 1.8rem;
  font-weight: 600;
}

[class^="btn-sm"] {
  width: 8.8rem;
  height: 4.2rem;
  border-radius: 8px;
  font-size: 1.6rem;
  font-weight: 600;
}

.btn-sm-48 {
  height: 4.8rem;
}

/* page ui */

/* banner */
.banner {
  position: relative;
  height: 54rem;
  padding: 0 calc(20rem - var(--gutter));
  background: #cfe5ff;

  @media (max-width: 1200px) {
    height: auto;
    padding: 0;
  }
}

.banner .inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;

  @media (max-width: 1440px) {
    justify-content: flex-start;
    padding-top: 10rem;
  }

  @media (max-width: 1200px) {
    align-items: center;
    text-align: center;
  }
}

.banner .banner-content {
  position: relative;
  z-index: 1;
  margin-bottom: 10rem;
}

.banner .banner-title {
  margin-bottom: 3.2rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.08rem;
  color: var(--color-seondary-700);

  @media (max-width: 1200px) {
    font-size: 3.4rem;
    letter-spacing: -0.06rem;
  }
}

.banner .banner-img {
  position: absolute;
  right: 2.4rem;
  bottom: 0;
  width: min(55vw, 74.6rem);

  @media (max-width: 1200px) {
    position: relative;
    right: auto;
    bottom: auto;
    width: 100%;
    margin: 0;
  }
}

/* feature */
.feature {
  padding: 13.8rem 0;
  background: #fff;

  @media (max-width: 1200px) {
    padding: 4rem 0 8rem;
  }
}

.feature .inner {
  max-width: calc(98.8rem + var(--gutter) * 2);
}

.feature-card {
  overflow: hidden;
  display: flex;
  gap: 6.4rem;
  height: 44.4rem;
  border-radius: 12px;
  background: #fcfcfc;

  @media (max-width: 1200px) {
    display: block;
    height: auto;
    border-radius: 0;
    background: none;
  }
}

.feature-card .feature-image {
  @media (max-width: 1200px) {
    overflow: hidden;
    margin-bottom: 4rem;
    border-radius: 12px;
  }
}

.feature-card .feature-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @media (max-width: 1200px) {
    height: auto;
    object-fit: unset;
  }
}

.feature-card .feature-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 34.5rem;
  padding-right: 4rem;
  word-break: keep-all;
}

.feature-card .feature-keyword {
  margin-bottom: 1.2rem;
  color: var(--color-primary-100);
  font-size: 1.8rem;
  font-weight: 700;
}

.feature-card .feature-title {
  margin-bottom: 2.4rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.4;
  color: var(--color-seondary-700);

  @media (max-width: 1200px) {
    margin-bottom: 1.8rem;
    font-size: 3rem;
  }
}

.feature-card .feature-description {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--color-seondary-700);

  @media (max-width: 1200px) {
    font-size: 2rem;
  }
}

.reverse .feature-card {
  flex-direction: row-reverse;
  text-align: right;
}

.reverse .feature-content {
  padding-left: 4rem;
  padding-right: 0;
}

/* footer banner */
.footer-banner {
  margin-top: 13.8rem;

  @media (max-width: 1200px) {
    margin-top: 0;
  }
}

.footer-banner .banner-content {
  margin-bottom: 17.2rem;
}

.footer-banner .banner-title {
  margin-bottom: 0;
}

/* auth */
.auth-container {
  max-width: calc(64rem + var(--gutter) * 2);
  margin: 0 auto;
  padding: 12rem var(--gutter);
}

.auth-header {
  margin-bottom: 4rem;
  text-align: center;
}

.auth-header .auth-logo a {
  display: inline-block;
  height: 13.2rem;

  @media (max-width: 768px) {
    height: 6.6rem;
  }
}

.auth-header .auth-logo img {
  width: auto;
  height: 100%;
}

.auth-body {
  margin-bottom: 2.4rem;
}

.form-item {
  margin-bottom: 2.4rem;
}

.form-item .item-label {
  display: inline-block;
  margin-bottom: 1.6rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.form-item .item-field {
  position: relative;
}

.form-item .item-field input[type="text"],
.form-item .item-field input[type="password"] {
  display: block;
  width: 100%;
  height: 5.6rem;
  padding: 0 2.4rem;
  border: 1px solid transparent;
  border-radius: 12px;
  background: var(--color-seondary-100);
}

.form-item .item-field input[type="text"]:focus,
.form-item .item-field input[type="password"]:focus {
  border: 1px solid var(--color-primary-100);
  outline: none;
}

.form-item:has(.item-error) .item-field input[type="text"],
.form-item:has(.item-error) .item-field input[type="password"] {
  border: 1px solid var(--color-error);
  outline: none;
}

.form-item .item-field input::placeholder {
  color: var(--color-seondary-400);
}

.form-item .item-field:has(.item-btn) input {
  padding-right: 5rem;
}

.form-item .item-error {
  margin-top: 0.8rem;
  padding-left: 1.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-error);
}

.form-item .item-btn {
  position: absolute;
  top: 50%;
  right: 2.4rem;
  transform: translateY(-50%);
  width: 2.4rem;
  height: 2.4rem;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.form-item .visibility-btn {
  background-image: url("/assets/img/icon/icon_view_off.svg");
}

.form-item .visibility-btn.on {
  background-image: url("/assets/img/icon/icon_view_on.svg");
}

.oauth-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
  padding: 1.6rem 2.3rem;
  border-radius: 8px;
  background: #e6f2ff;
}

.oauth-label {
  font-weight: 500;
}

.oauth-providers {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.oauth-provider {
  display: block;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
}

.oauth-provider img {
  width: 100%;
  height: auto;
}

.auth-options {
  text-align: center;
  font-size: 1.4rem;
}

.auth-options a {
  color: var(--color-primary-100);
  text-decoration: underline;
}
