.container {
  width: 100%;
  max-width: 1040px;
  margin: 36px auto 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.register {
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.register h1 {
  color: #1f2937;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}
.disabled_button {
  background-color: #9ca3af;
  color: #f3f4f6;
  font-weight: 600;
  padding: 12px 23px;
  width: 72px;
  border: none;
  border-radius: 8px;
}
.active_button {
  background-color: #3692ff;
  color: #f3f4f6;
  font-weight: 600;
  padding: 12px 23px;
  width: 72px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.register_img,
.register_name,
.register_info,
.register_price,
.register_tag {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

h2 {
  color: #1f2937;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

input,
textarea {
  background-color: #f3f4f6;
  color: #1f2937;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  padding: 16px 24px;
  outline: none;
  border: none;
  border-radius: 12px;
  resize: none;
}
input::placeholder,
textarea::placeholder {
  color: #9ca3af;
}
textarea {
  height: 242px;
}

/* 이미지 로드 */
.img_upload_container {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
.upload_box {
  background-color: #f3f4f6;
  width: 242px;
  aspect-ratio: 1 / 1;
  border: none;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  gap: 12px;
}
.upload_box img {
  width: 48px;
  height: 48px;
}
.upload_box span {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #9ca3af;
}
/* 이미지 미리보기 */
.image_preview {
  position: relative;
  width: 242px;
  aspect-ratio: 1 / 1;
  border-radius: 12px;
  overflow: hidden;
}
.image_preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 삭제 버튼 */
.remove_button {
  position: absolute;
  top: 12px;
  right: 12px;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.remove_button img {
  width: 100%;
  height: 100%;
}
.error_message {
  color: #f74747;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}

/* 태그 리스트 */
.tag_list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
/* 개별 태그 */
.tag_item {
  display: flex;
  align-items: center;
  background-color: #f3f4f6;
  color: #1f1f1f;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 6px 12px;
  border-radius: 26px;
  gap: 8px;
}
/* 태그 삭제 버튼 */
.tag_remove_button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.tag_remove_button img {
  width: 20px;
  height: 20px;
}

@media (max-width: 1199px) {
  .img_upload_container {
    gap: 10px;
  }
  .upload_box,
  .image_preview {
    width: 168px;
  }
}
