.main-section {
  display: flex;
  justify-content: center;
  margin-top: 94px;
}

.main-container {
  width: 1200px;
}

.detail-section {
  display: flex;
  padding-bottom: 40px;
  border-bottom: 1px solid #e5e7eb;
  margin-bottom: 40px;
}

.main-img {
  width: 486px;
  height: 486px;
  border-radius: 16px;
  margin-right: 24px;
}

.detail-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.item-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.item-title-text {
  display: flex;
  flex-direction: column;
}

.kebab-img {
  width: 24px;
  height: 24px;
}

.item-name {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 16px;
  color: #1f2937;
}

.item-price {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
  color: #1f2937;
}

.item-tegs {
  display: flex;
  flex-direction: column;
}

.item-tegs-box {
  background-color: #f3f4f6;
  padding: 5px 16px;
  border-radius: 26px;
  font-size: 16px;
  font-weight: 400;
  color: #1f2937;
  margin: 0 8px 8px 0;
}

.owner-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.owner-info-profile {
  display: flex;
  align-items: center;
}

.owner-profile-ic {
  width: 40px;
  height: 40px;
  margin: 5px 16px 5px 0;
}

.owner-info-box {
  display: flex;
  flex-direction: column;
}

.owner-nickname {
  font-size: 14px;
  color: #4b5563;
  font-weight: 400;
  margin: 0 0 2px;
}

.create {
  font-size: 14px;
  color: #9ca3af;
  font-weight: 400;
  margin: 0;
}

.favorit-count {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  border: 1px solid #e5e7eb;
  border-radius: 35px;
  height: 40px;
  gap: 4px;
}

.heart-ic {
  width: 27px;
  height: 23px;
}

.favorit-count-text {
  font-size: 16px;
  color: #6b7280;
  font-weight: 400;
}

.item-description {
  display: flex;
  flex-direction: column;
}

.item-description-label {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 16px;
  color: #4b5563;
}

.item-description-text {
  font-size: 16px;
  font-weight: 400;
  color: #4b5563;
}

.back-btn-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.back-btn {
  display: flex;
  width: 240px;
  height: 48px;
  background-color: #3692ff;
  color: #ffffff;
  border: none;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  font-size: 18px;
  font-weight: 500;
  gap: 8px;
}

.back-btn:hover {
  background-color: #3692cc;
}
