/* Mobile */

.allItems {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 90%;
  min-width: 344px;
  max-width: 344px;
  margin: 0 auto;
  margin-top: 24px;
}

.allItems .container {
  display: flex;
  justify-content: space-between;
}

.allItems .orderSelect {
  width: 130px;
  height: 42px;
  border-radius: 12px;

  padding: 9px 20px;

  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.allItems .itemList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style-type: none;
}

.allItems .item {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 168px;

  max-width: 168px;
  gap: 10px;

  margin-bottom: 32px;
}

.allItems .item > a {
  display: block;
  width: 100%;
  border-radius: 19.46px;
  background-color: #cccccc;
}

.allItems .itemImg {
  display: block;
  width: 100%;
  /* height: 343px; */
  aspect-ratio: 1;
  border-radius: 19.46px;
}

.allItems .itemInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.allItems .favorite {
  display: flex;
  align-items: center;
  gap: 4px;
}

.allItems .name {
  color: var(--grey200);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.allItems .price {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

.allItems .favoriteCount {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

/* .allItems .item:nth-child(n + 5) {
  display: none;
} */

/* Tablet */

@media (min-width: 768px) {
  .allItems {
    min-width: 696px;
    max-width: 696px;
  }

  .allItems .itemList {
    gap: 16px;
  }

  .allItems .item {
    min-width: 221px;
    max-width: 221px;
    margin-bottom: 40px;
  }
  /* .allItems .item:nth-child(n) {
    display: block;
  }
  .allItems .item:nth-child(n + 3) {
    display: none;
  } */
}

/* Desktop */

@media (min-width: 1200px) {
  .allItems {
    min-width: 1201px;
    max-width: 1201px;
  }

  .allItems .itemList {
    gap: 24px;
  }
  /* .allItems .item:nth-child(n) {
    display: block;
  }
  .allItems .item:nth-child(n + 5) {
    display: none;
  } */

  .allItems .item {
    max-width: 221px;
  }
}
