.pagebutton_container {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.pagebutton_icon {
  height: 16px;
}

.pagebutton_number {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: white;
  color: black;
  border: 1px solid #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pagebutton_number .active {
  background-color: #2f80ed;
  color: white;
}
