<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appletv2,1</key>
	<string>Apple TV 2G</string>
	<key>appletv3,1</key>
	<string>Apple TV 3</string>
	<key>appletv3,2</key>
	<string>Apple TV 3</string>
	<key>appletv5,3</key>
	<string>Apple TV HD</string>
	<key>appletv6,2</key>
	<string>Apple TV 4K</string>
	<key>ipad1,1</key>
	<string>iPad 1</string>
	<key>ipad11,1</key>
	<string>iPad mini 5th Gen (WiFi)</string>
	<key>ipad11,2</key>
	<string>iPad mini 5th Gen</string>
	<key>ipad11,3</key>
	<string>iPad Air 3rd Gen (WiFi)</string>
	<key>ipad11,4</key>
	<string>iPad Air 3rd Gen</string>
	<key>ipad11,6</key>
	<string>iPad (8th generation) WiFi</string>
	<key>ipad11,7</key>
	<string>iPad (8th generation) WiFi+Cellular</string>
	<key>ipad12,1</key>
	<string>iPad (9th generation) WiFi</string>
	<key>ipad12,2</key>
	<string>iPad (9th generation) WiFi+Cellular</string>
	<key>ipad13,1</key>
	<string>iPad Air (4th generation) Wi-Fi</string>
	<key>ipad13,10</key>
	<string>iPad Pro (5th Gen)</string>
	<key>ipad13,11</key>
	<string>iPad Pro (5th Gen)</string>
	<key>ipad13,2</key>
	<string>iPad Air (4th Gen)</string>
	<key>ipad13,4</key>
	<string>iPad Pro (3th Gen)</string>
	<key>ipad13,8</key>
	<string>iPad Pro (5th Gen)</string>
	<key>ipad13,9</key>
	<string>iPad Pro (5th Gen)</string>
	<key>ipad14,1</key>
	<string>iPad mini (6th generation) Wi-Fi</string>
	<key>ipad14,2</key>
	<string>iPad mini (6th generation) Wi-Fi + Cellular</string>
	<key>ipad2,1</key>
	<string>iPad 2</string>
	<key>ipad2,2</key>
	<string>iPad 2</string>
	<key>ipad2,3</key>
	<string>iPad 2</string>
	<key>ipad2,4</key>
	<string>iPad 2</string>
	<key>ipad2,5</key>
	<string>iPad Mini</string>
	<key>ipad2,6</key>
	<string>iPad Mini</string>
	<key>ipad2,7</key>
	<string>iPad Mini</string>
	<key>ipad3,1</key>
	<string>iPad 3</string>
	<key>ipad3,2</key>
	<string>iPad 3</string>
	<key>ipad3,3</key>
	<string>iPad 3</string>
	<key>ipad3,4</key>
	<string>iPad 4</string>
	<key>ipad3,5</key>
	<string>iPad 4</string>
	<key>ipad3,6</key>
	<string>iPad 4</string>
	<key>ipad4,1</key>
	<string>iPad Air</string>
	<key>ipad4,2</key>
	<string>iPad Air</string>
	<key>ipad4,3</key>
	<string>iPad Air</string>
	<key>ipad4,4</key>
	<string>iPad Mini 2</string>
	<key>ipad4,5</key>
	<string>iPad Mini 2</string>
	<key>ipad4,6</key>
	<string>iPad Mini 2</string>
	<key>ipad4,7</key>
	<string>iPad Mini 3</string>
	<key>ipad4,8</key>
	<string>iPad Mini 3</string>
	<key>ipad4,9</key>
	<string>iPad Mini 3</string>
	<key>ipad5,1</key>
	<string>iPad Mini 4</string>
	<key>ipad5,2</key>
	<string>iPad Mini 4</string>
	<key>ipad5,3</key>
	<string>iPad Air 2</string>
	<key>ipad5,4</key>
	<string>iPad Air 2</string>
	<key>ipad6,3</key>
	<string>iPad Pro 9.7-inch</string>
	<key>ipad6,4</key>
	<string>iPad Pro 9.7-inch</string>
	<key>ipad6,7</key>
	<string>iPad Pro 12.9-inch</string>
	<key>ipad6,8</key>
	<string>iPad Pro 12.9-inch</string>
	<key>ipad7,1</key>
	<string>iPad Pro 2</string>
	<key>ipad7,11</key>
	<string>iPad 7th Gen (WiFi)</string>
	<key>ipad7,12</key>
	<string>iPad 7th Gen (WiFi+Cellular)</string>
	<key>ipad7,2</key>
	<string>iPad Pro 2</string>
	<key>ipad7,3</key>
	<string>iPad Pro</string>
	<key>ipad7,4</key>
	<string>iPad Pro</string>
	<key>ipad7,5</key>
	<string>iPad 6th Gen (WiFi)</string>
	<key>ipad7,6</key>
	<string>iPad 6th Gen (WiFi+Cellular)</string>
	<key>ipad8,1</key>
	<string>iPad Pro 11-inch</string>
	<key>ipad8,10</key>
	<string>iPad Pro (11-inch) (2nd generation) Wi-Fi + Cellular model </string>
	<key>ipad8,11</key>
	<string>iPad Pro (12.9-inch) (4th generation) Wi-Fi model</string>
	<key>ipad8,12</key>
	<string>iPad Pro (12.9-inch) (4th generation) Wi-Fi + Cellular model</string>
	<key>ipad8,2</key>
	<string>iPad Pro 11-inch</string>
	<key>ipad8,3</key>
	<string>iPad Pro 11-inch</string>
	<key>ipad8,4</key>
	<string>iPad Pro 11-inch</string>
	<key>ipad8,5</key>
	<string>iPad Pro 12.9-inch(3rd generation)</string>
	<key>ipad8,6</key>
	<string>iPad Pro 12.9-inch(3rd generation)</string>
	<key>ipad8,7</key>
	<string>iPad Pro 12.9-inch(3rd generation)</string>
	<key>ipad8,8</key>
	<string>iPad Pro 12.9-inch(3rd generation)</string>
	<key>ipad8,9</key>
	<string>iPad Pro (11-inch) (2nd generation)</string>
	<key>iphone1,2</key>
	<string>iPhone 3G</string>
	<key>iphone10,1</key>
	<string>iPhone 8</string>
	<key>iphone10,2</key>
	<string>iPhone 8 Plus</string>
	<key>iphone10,3</key>
	<string>iPhone X</string>
	<key>iphone10,4</key>
	<string>iPhone 8</string>
	<key>iphone10,5</key>
	<string>iPhone 8 Plus</string>
	<key>iphone10,6</key>
	<string>iPhone X</string>
	<key>iphone11,1</key>
	<string>iPhone XS</string>
	<key>iphone11,2</key>
	<string>iPhone XS</string>
	<key>iphone11,3</key>
	<string>iPhone XS Max</string>
	<key>iphone11,4</key>
	<string>iPhone XS Max</string>
	<key>iphone11,5</key>
	<string>iPhone XS Max</string>
	<key>iphone11,6</key>
	<string>iPhone XS Max</string>
	<key>iphone11,7</key>
	<string>iPhone  XR</string>
	<key>iphone11,8</key>
	<string>iPhone  XR</string>
	<key>iphone12,1</key>
	<string>iPhone 11</string>
	<key>iphone12,3</key>
	<string>iPhone 11 Pro</string>
	<key>iphone12,5</key>
	<string>iPhone 11 Pro Max</string>
	<key>iphone12,8</key>
	<string>iPhone SE (2nd generation)</string>
	<key>iphone13,1</key>
	<string>iPhone 12 mini</string>
	<key>iphone13,2</key>
	<string>iPhone 12</string>
	<key>iphone13,3</key>
	<string>iPhone 12 Pro </string>
	<key>iphone13,4</key>
	<string>iPhone 12 Pro Max</string>
	<key>iphone14,2</key>
	<string>iPhone 13 Pro</string>
	<key>iphone14,3</key>
	<string>iPhone 13 Pro Max</string>
	<key>iphone14,4</key>
	<string>iPhone 13 mini</string>
	<key>iphone14,5</key>
	<string>iPhone 13</string>
	<key>iphone2,1</key>
	<string>iPhone 3G</string>
	<key>iphone3,1</key>
	<string>iPhone 4</string>
	<key>iphone3,2</key>
	<string>iPhone 4</string>
	<key>iphone3,3</key>
	<string>iPhone 4</string>
	<key>iphone4,1</key>
	<string>iPhone 4S</string>
	<key>iphone5,1</key>
	<string>iPhone 5</string>
	<key>iphone5,2</key>
	<string>iPhone 5</string>
	<key>iphone5,3</key>
	<string>iPhone 5c</string>
	<key>iphone5,4</key>
	<string>iPhone 5c</string>
	<key>iphone6,1</key>
	<string>iPhone 5s</string>
	<key>iphone6,2</key>
	<string>iPhone 5s</string>
	<key>iphone7,1</key>
	<string>iPhone 6 Plus</string>
	<key>iphone7,2</key>
	<string>iPhone 6</string>
	<key>iphone8,1</key>
	<string>iPhone 6s</string>
	<key>iphone8,2</key>
	<string>iPhone 6s Plus</string>
	<key>iphone8,4</key>
	<string>iPhone SE</string>
	<key>iphone9,1</key>
	<string>iPhone 7</string>
	<key>iphone9,2</key>
	<string>iPhone 7 Plus</string>
	<key>iphone9,3</key>
	<string>iPhone 7</string>
	<key>iphone9,4</key>
	<string>iPhone 7 Plus</string>
	<key>ipod2,1</key>
	<string>iPod touch 2G</string>
	<key>ipod3,1</key>
	<string>iPod touch 3</string>
	<key>ipod4,1</key>
	<string>iPod touch 4</string>
	<key>ipod5,1</key>
	<string>iPod touch 5</string>
	<key>ipod7,1</key>
	<string>iPod touch 6</string>
</dict>
</plist>
