.form-field {
  display: flex;
  flex-direction: column;
}

label {
  width: 100%;
  height: 26px;
  font-size: 18px;
  font-weight: bold;
  color: #1f2937;
  margin-bottom: 16px;
}

input {
  margin-bottom: 32px;
  height: 56px;
  padding: 0 24px;
  border: none;
  background-color: #f3f4f6;
  border-radius: 12px;
}

input:focus {
  outline: none;
}

textarea {
  margin-bottom: 32px;
  height: 282px;
  padding: 16px 24px;
  background-color: #f3f4f6;
  border: none;
  resize: none;
  border-radius: 12px;
}

textarea:focus {
  outline: none;
}
