.navSearch {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navSearchBar {
  display: flex;
  align-items: center;
  gap: 12px;
  /* justify-content: space-between; */
}
.navSearch_input {
  width: 325px;
  height: 42px;
  border-radius: 12px;
  border-style: none;
  background-color: #f3f4f6;
  padding: 4px;

  font-size: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.navSearch_Btn {
  width: 133px;
  height: 42px;
  padding: 12px 23px;
  border-radius: 8px;
  background-color: #3692ff;
  border-style: none;
  color: white;
  font-size: 16px;
}

.navSearch_choice {
  width: 130px;
  height: 42px;
  border-radius: 12px;
  font-size: 16px;
  line-height: 26px;
  padding: 3px;
}
