header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #dfdfdf;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #fff;
}

.headerLeft {
  height: 70px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.headerLogo {
  margin-top: 20px;
  margin-bottom: 15px;
}

.headerLogo .logoSymbol {
  display: none;
}

.headerLogo .logoText {
  width: 81px;
  height: 40px;
}

.itemsHeader nav ul {
  display: flex;
  list-style: none;
  gap: 8px;
}

.itemsHeader nav ul li a {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #4b5563;
}

.itemsHeader nav ul li a:hover {
  color: var(--blue);
}

.headerProfile img {
  width: 40px;
  height: 40px;
}

/* 반응형 태블릿 */
@media (min-width: 768px) {
  .headerLogo {
    margin-right: 20px;
    display: flex;
    column-gap: 6px;
    margin-top: 15px;
  }

  .headerLogo .logoSymbol {
    display: inline-block;
    width: 40px;
    height: 40px;
  }

  .itemsHeader nav ul {
    gap: 36px;
  }

  .itemsHeader nav ul li a {
    font-size: 18px;
  }
}

@media (min-width: 1280px) {
  header {
    padding: 0 200px;
  }

  .headerLogo {
    margin-right: 32px;
  }
}
