.nav {
  background-color: #ffffff;
  padding: 9px 0;
  border-bottom: 1px solid #dfdfdf;
  height: 70px;
}

.container {
  width: 100%;
  max-width: 1040px;
  height: 51px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLeft {
  display: flex;
  gap: 40px;
  align-items: center;
}

.navLeft a {
  height: 51px;
  display: inline-block;
}

.logoImg,
.profileImg {
  display: inline-block;
}

.logoImg {
  width: 153px;
}

.profileImg {
  width: 40px;
  height: 40px;
  background-color: #dfdfdf;
  border-radius: 50%;
}

.menu {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu > li {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

@media (max-width: 1199px) {
  .nav {
    padding: 9px 24px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .nav {
    padding: 9px 16px;
  }
}
