.all-products {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin-top: 16px;
  gap: 24px;
}

.all-products-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  gap: 10px;
}

.all-product-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.item-link {
  flex-grow: 1;
}

.all-product-img {
  width: 221px;
  height: 221px;
  border-radius: 16px;
  object-fit: cover;
}

.all-product-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
  color: #1f2937;
}

.all-product-price {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: #1f2937;
  margin: 0;
}

.all-product-likes {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: #4b5563;
  margin: 0;
}

.all-product-likes img {
  vertical-align: text-top;
}

@media (max-width: 1199px) {
  .all-products {
    padding: 0 25px;
  }
}
