@use "../../assets/scss/base/mixins";

.section {
  margin-bottom: 4rem;

  .header {
    display: flex;
    align-items: center;
    gap: 0.8rem 1.2rem;
    margin-bottom: 2.4rem;

    @include mixins.mobile {
      flex-wrap: wrap;
      justify-content: flex-end;
    }

    .title {
      flex: none;
      margin-right: auto;
      font-size: 2rem;
      font-weight: 700;
      color: var(--color-secondary-900);
    }

    & > form {
      @include mixins.mobile {
        order: 2;
        max-width: 100%;
        width: calc(100% - 4.2rem - 1.2rem);
      }
    }
    & > button {
      @include mixins.mobile {
        order: 1;
      }
    }

    & > div {
      @include mixins.mobile {
        order: 3;
      }
    }
  }
}
