<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Test</key>
	<dict>
		<key>package_names</key>
		<array>
			<string>4ukey</string>
			<string>4ukey-mac</string>
			<string>4ukey-mac-bing</string>
			<string>4ukey-mac-yahoo</string>
			<string>4ukey-cpc1-mac</string>
			<string>4ukey-cpc2-mac</string>
			<string>4ukey-cpc3-mac</string>
			<string>4ukey-zsyx-mac</string>
			<string>iphone-unlocker-mac</string>
			<string>passfab-screen-recorder-mac</string>
		</array>
		<key>identifiers</key>
		<array>
			<string>com.tenorshare.Test</string>
		</array>
	</dict>
	<key>4uKey for iOS</key>
	<dict>
		<key>package_names</key>
		<array>
			<string>4ukey</string>
			<string>4ukey-mac</string>
			<string>4ukey-mac-bing</string>
			<string>4ukey-mac-yahoo</string>
			<string>4ukey-cpc1-mac</string>
			<string>4ukey-cpc2-mac</string>
			<string>4ukey-cpc3-mac</string>
			<string>4ukey-zsyx-mac</string>
			<string>iphone-unlocker-mac</string>
			<string>passfab-screen-recorder-mac</string>
		</array>
		<key>identifiers</key>
		<array>
			<string>com.tenorshare.4ukey</string>
			<string>com.bing.4ukey</string>
			<string>com.niuxuezhang.4ukey</string>
			<string>com.passfab.iphone-unlocker</string>
		</array>
	</dict>
	<key>4uKey for Android</key>
	<dict>
		<key>package_names</key>
		<array>
			<string>4ukey-for-android-mac</string>
			<string>4ukey-for-android-mac-bing</string>
			<string>android-unlocker-mac</string>
		</array>
		<key>identifiers</key>
		<array/>
	</dict>
	<key>4uKey for iTunes Backup</key>
	<dict>
		<key>package_names</key>
		<array>
			<string>4ukey-itunes-backup-mac</string>
			<string>iphone-backup-unlocker-mac</string>
		</array>
		<key>identifiers</key>
		<array/>
	</dict>
	<key>4uKey for Password Manager</key>
	<dict>
		<key>package_names</key>
		<array>
			<string>4ukey-password-manager-mac</string>
			<string>ios-password-manager-mac</string>
		</array>
		<key>identifiers</key>
		<array/>
	</dict>
	<key>4MeKey</key>
	<dict>
		<key>package_names</key>
		<array>
			<string>4mekey-mac</string>
			<string>4mekey-mac-bing</string>
			<string>4mekey-zsyx-mac</string>
			<string>4mekey-cpc1-mac</string>
			<string>4mekey-cpc2-mac</string>
			<string>4mekey-cpc3-mac</string>
			<string>activation-unlocker-mac</string>
		</array>
		<key>identifiers</key>
		<array/>
	</dict>
	<key>4DDig</key>
	<dict>
		<key>package_names</key>
		<array>
			<string>tenorshare-4ddig-for-mac</string>
			<string>ultfone-mac-data-recovery</string>
			<string>4ddig-for-mac</string>
			<string>4ddig-for-mac-bing</string>
		</array>
		<key>identifiers</key>
		<array/>
	</dict>
	<key>4WinKey</key>
	<dict>
		<key>package_names</key>
		<array>
			<string>windows-password-recovery-tool-std-demo-mac</string>
			<string>windows-password-recovery-tool-ent-demo-mac</string>
			<string>windows-password-recovery-tool-pro-demo-mac</string>
			<string>windows-password-recovery-tool-ult-demo-mac</string>
			<string>windows-password-recovery-tool-std-full-mac</string>
			<string>windows-password-recovery-tool-pro-full-mac</string>
			<string>windows-password-recovery-tool-ent-full-mac</string>
			<string>windows-password-recovery-tool-ult-full-mac</string>
			<string>4winkey-std-demo-mac</string>
			<string>4winkey-pro-demo-mac</string>
			<string>4winkey-ent-demo-mac</string>
			<string>4winkey-ult-demo-mac</string>
			<string>4winkey-std-full-mac</string>
			<string>4winkey-pro-full-mac</string>
			<string>4winkey-ent-full-mac</string>
			<string>4winkey-ult-full-mac</string>
		</array>
		<key>identifiers</key>
		<array/>
	</dict>
	<key>ReiBoot</key>
	<dict>
		<key>package_names</key>
		<array>
			<string>reiboot-mac</string>
			<string>reiboot-mac-bing</string>
			<string>reiboot-mac-yahoo</string>
			<string>ios-system-repair-mac</string>
		</array>
		<key>identifiers</key>
		<array>
			<string>com.tenorshare.ReiBoot</string>
			<string>com.tenorshare.ReiBootBing</string>
			<string>com.tenorshare.ReiBootNet</string>
			<string>com.tenorshare.ReiBootYahoo</string>
			<string>com.niuxuezhang.ReiBoot</string>
			<string>com.nxzsoftware.ReiBoot</string>
			<string>com.ultfone.iosSystemRepair</string>
			<string>com.ultfone.iosSystemRepairNet</string>
			<string>com.ultfone.iosSystemRepairBing</string>
			<string>com.ultfone.iosSystemRepairToolKit</string>
			<string>com.ultfone.iosSystemRepairToolKitNet</string>
			<string>com.reiboot.ReiBoot</string>
			<string>com.reiboot.ReiBootNet</string>
		</array>
	</dict>
	<key>iCarefone</key>
	<dict>
		<key>package_names</key>
		<array>
			<string>icarefone-mac</string>
			<string>icarefone-mac-bing</string>
			<string>icarefone-mac-yahoo</string>
			<string>ios-data-manager-mac</string>
		</array>
		<key>identifiers</key>
		<array/>
	</dict>
	<key>UltData for iOS</key>
	<dict>
		<key>package_names</key>
		<array>
			<string>ultdata-ios-mac</string>
			<string>ios-data-recovery-mac</string>
			<string>ultdata-ios-mac-bing</string>
			<string>ultdata-ios-mac-yahoo</string>
		</array>
		<key>identifiers</key>
		<array/>
	</dict>
	<key>UltData for Android</key>
	<dict>
		<key>package_names</key>
		<array>
			<string>ultdata-for-android-mac</string>
			<string>ultdata-for-android-mac-bing</string>
			<string>ultfone-android-data-recovery</string>
		</array>
		<key>identifiers</key>
		<array/>
	</dict>
	<key>WhatsApp Transfer</key>
	<dict>
		<key>package_names</key>
		<array>
			<string>whatsapp-transfer-mac</string>
			<string>whatsapp-transfer-mac-bing</string>
		</array>
		<key>identifiers</key>
		<array/>
	</dict>
	<key>Line Transfer</key>
	<dict>
		<key>package_names</key>
		<array>
			<string>line-transfer-mac</string>
			<string>ultfone-for-line-mac</string>
		</array>
		<key>identifiers</key>
		<array/>
	</dict>
	<key>TunesCare</key>
	<dict>
		<key>package_names</key>
		<array>
			<string>tunescare-mac</string>
			<string>tunescare</string>
		</array>
		<key>identifiers</key>
		<array/>
	</dict>
	<key>tenorshare-android-data-recovery-pro</key>
	<dict>
		<key>package_names</key>
		<array>
			<string>tenorshare-android-data-recovery-pro-for-mac-trial</string>
		</array>
		<key>identifiers</key>
		<array/>
	</dict>
	<key>Passfab for Excel</key>
	<dict>
		<key>package_names</key>
		<array>
			<string>passfab-for-excel-mac</string>
		</array>
		<key>identifiers</key>
		<array/>
	</dict>
	<key>Duplicate File Feleter</key>
	<dict>
		<key>package_names</key>
		<array>
			<string>tenorshare-duplicate-file-deleter</string>
			<string>duplicate-file-deleter-mac</string>
		</array>
		<key>identifiers</key>
		<array/>
	</dict>
	<key>watermark-remover-mac</key>
	<dict>
		<key>package_names</key>
		<array>
			<string>watermark-remover-mac</string>
		</array>
		<key>identifiers</key>
		<array>
			<string>com.NiuXueZhang.watermarkRemover</string>
		</array>
	</dict>
	<key>video-enhancer-mac</key>
	<dict>
		<key>package_names</key>
		<array>
			<string>video-enhancer-mac</string>
		</array>
		<key>identifiers</key>
		<array>
			<string>com.NiuXueZhang.VideoEnhancer</string>
		</array>
	</dict>
	<key>video-editor-mac</key>
	<dict>
		<key>package_names</key>
		<array>
			<string>video-editor-mac</string>
		</array>
		<key>identifiers</key>
		<array>
			<string>com.NiuXueZhang.VideoEditor</string>
		</array>
	</dict>
	<key>video-converter</key>
	<dict>
		<key>package_names</key>
		<array>
			<string>video-converter</string>
		</array>
		<key>identifiers</key>
		<array>
			<string>NiuXueZhang Video Converter</string>
		</array>
	</dict>
	<key>screen-recorder-mac</key>
	<dict>
		<key>package_names</key>
		<array>
			<string>screen-recorder-mac</string>
		</array>
		<key>identifiers</key>
		<array>
			<string>com.NiuXueZhang.ScreenRecorder</string>
		</array>
	</dict>
	<key>photo-enhancer-mac</key>
	<dict>
		<key>package_names</key>
		<array>
			<string>photo-enhancer-mac</string>
		</array>
		<key>identifiers</key>
		<array>
			<string>com.NiuXueZhang.PhotoEnhancer</string>
		</array>
	</dict>
	<key>phone-mirror-mac</key>
	<dict>
		<key>package_names</key>
		<array>
			<string>phone-mirror-mac</string>
		</array>
		<key>identifiers</key>
		<array>
			<string>迅投迅影</string>
		</array>
	</dict>
	<key>UltFoneToolKit</key>
	<dict>
		<key>package_names</key>
		<array>
			<string>ultfone-toolkit-mac</string>
		</array>
		<key>identifiers</key>
		<array>
			<string>com.ultfone.UltFoneToolkit</string>
			<string>net.ultfone.UltFoneToolkit</string>
		</array>
	</dict>
</dict>
</plist>
