* {
  box-sizing: border-box;
  margin: 0;
}

.allproduct_img {
  width: 221px;
  height: 221px;
  border-radius: 16px;
  object-fit: cover;
}

.allproduct_popularity {
  width: 16px;
  height: 16px;
}

.allproduct_title {
  font-size: 14px;
  font-weight: 500;
}
