.productContainer {
  display: flex;
  gap: 24px;
}

.productImg {
  width: 486px;
  height: 486px;
  border-radius: 16px;
}

.productDesc {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
}

.productHeader {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-bottom: 1px solid #e5e7eb;
}

.productName {
  font-size: 24p;
  font-weight: 600;
  color: #1f2937;
}

.productPrice {
  font-size: 40px;
  font-weight: 600;
  color: #1f2937;
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.productInfo p {
  font-size: 16px;
  font-weight: 600;
  color: #4b5563;
}

.productDescription {
  font-size: 16px;
  font-weight: 400;
  color: #4b5563;
}

.productOwnerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productOwnerInfo {
  display: flex;
  gap: 16px;
}

.productOwnerInfo div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.userImg {
  width: 40px;
  height: 40px;
}

.userName {
  font-size: 14px;
  font-weight: 500;
  color: #4b5563;
}

.date {
  font-size: 14px;
  font-weight: 400;
  color: #9ca3af;
}

.favoriteCountContainer {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 12px;
  border: 1px solid #e5e7eb;
  border-radius: 35px;
}

.heartImg {
  width: 32px;
  height: 32px;
}

.favoriteCount {
  font-size: 16px;
  font-weight: 500;
  color: #6b7280;
}
