* {
  box-sizing: border-box;
  margin: 0;
}

.bestproduct-img {
  width: 282px;
  height: 282px;
  border-radius: 16px;
  object-fit: cover;
}

.bestproduct-popularity {
  width: 16px;
  height: 16px;
}
