<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Categorys</key>
	<array>
		<dict>
			<key>Photo</key>
			<array>
				<string>arw</string>
				<string>bmp</string>
				<string>crw</string>
				<string>dng</string>
				<string>emf</string>
				<string>gif</string>
				<string>jpeg</string>
				<string>jpg</string>
				<string>mef</string>
				<string>mrw</string>
				<string>nef</string>
				<string>orf</string>
				<string>pcd</string>
				<string>pef</string>
				<string>png</string>
				<string>psd</string>
				<string>raf</string>
				<string>raw</string>
				<string>sr2</string>
				<string>svg</string>
				<string>x3f</string>
				<string>heic</string>
				<string>tif</string>
				<string>tiff</string>
				<dict>
					<key>more</key>
					<array>
						<string>3fr</string>
						<string>abr</string>
						<string>ai</string>
						<string>cdr</string>
						<string>cdt</string>
						<string>cpl</string>
						<string>cpt</string>
						<string>cr2</string>
						<string>dcr</string>
						<string>dds</string>
						<string>dib</string>
						<string>drw</string>
						<string>eps</string>
						<string>erf</string>
						<string>exr</string>
						<string>fh11</string>
						<string>flm</string>
						<string>hdr</string>
						<string>ico</string>
						<string>img</string>
						<string>itc2</string>
						<string>ithmb</string>
						<string>jpg2</string>
						<string>mdi</string>
						<string>mpf</string>
						<string>nrw</string>
						<string>pct</string>
						<string>ps</string>
						<string>psb</string>
						<string>pspimage</string>
						<string>psq</string>
						<string>qxd</string>
						<string>rw2</string>
						<string>sdk</string>
						<string>srf</string>
						<string>srw</string>
						<string>svgz</string>
						<string>targa</string>
						<string>tga</string>
						<string>wmf</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Audio</key>
			<array>
				<string>aa3</string>
				<string>aac</string>
				<string>ac3</string>
				<string>ape</string>
				<string>dac</string>
				<string>dig</string>
				<string>dts</string>
				<string>flac</string>
				<string>m4a</string>
				<string>m4r</string>
				<string>midi</string>
				<string>mp3</string>
				<string>oga</string>
				<string>ogg</string>
				<string>oma</string>
				<string>pcast</string>
				<string>snd</string>
				<string>vqf</string>
				<string>wma</string>
				<dict>
					<key>more</key>
					<array>
						<string>aa</string>
						<string>aif</string>
						<string>aiff</string>
						<string>amr</string>
						<string>amz</string>
						<string>caf</string>
						<string>cda</string>
						<string>cfa</string>
						<string>dcf</string>
						<string>dcm</string>
						<string>dss</string>
						<string>emx</string>
						<string>gpx</string>
						<string>hma</string>
						<string>iff</string>
						<string>imy</string>
						<string>m3u</string>
						<string>m3u8</string>
						<string>mid</string>
						<string>mp2</string>
						<string>mpa</string>
						<string>msv</string>
						<string>mup</string>
						<string>mxp4</string>
						<string>ncor</string>
						<string>nki</string>
						<string>pek</string>
						<string>pls</string>
						<string>ra</string>
						<string>rns</string>
						<string>sfa</string>
						<string>smf</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Video</key>
			<array>
				<string>3g2</string>
				<string>3gp</string>
				<string>asf</string>
				<string>avi</string>
				<string>fcproject</string>
				<string>flv</string>
				<string>hdmov</string>
				<string>m4v</string>
				<string>mkv</string>
				<string>mov</string>
				<string>mp4</string>
				<string>mpeg</string>
				<string>mpg</string>
				<string>mts</string>
				<string>mxf</string>
				<string>rmvb</string>
				<string>ts</string>
				<string>vob</string>
				<string>webm</string>
				<string>wmv</string>
				<dict>
					<key>more</key>
					<array>
						<string>aff</string>
						<string>aep</string>
						<string>aepx</string>
						<string>asx</string>
						<string>avp</string>
						<string>avs</string>
						<string>bup</string>
						<string>divx</string>
						<string>dv</string>
						<string>edl</string>
						<string>enc</string>
						<string>fcp</string>
						<string>ifo</string>
						<string>imovieproj</string>
						<string>m2p</string>
						<string>m2t</string>
						<string>mpg2</string>
						<string>mtv</string>
						<string>nsv</string>
						<string>ogv</string>
						<string>plb</string>
						<string>pmf</string>
						<string>ppj</string>
						<string>prproj</string>
						<string>qt</string>
						<string>rm</string>
						<string>sub</string>
						<string>swf</string>
						<string>vsp</string>
						<string>wlmp</string>
						<string>wtv</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Document</key>
			<array>
				<string>csv</string>
				<string>cwk</string>
				<string>doc</string>
				<string>docx</string>
				<string>epub</string>
				<string>indd</string>
				<string>key</string>
				<string>mat</string>
				<string>numbers</string>
				<string>odf</string>
				<string>odg</string>
				<string>odp</string>
				<string>ods</string>
				<string>odt</string>
				<string>pages</string>
				<string>pdf</string>
				<string>plist</string>
				<string>ppt</string>
				<string>pptx</string>
				<string>rtf</string>
				<string>tax</string>
				<string>txt</string>
				<string>vcf</string>
				<string>vsd</string>
				<string>xls</string>
				<string>xlsx</string>
				<string>xml</string>
			</array>
		</dict>
		<dict>
			<key>Email</key>
			<array>
				<string>dbx</string>
				<string>edb</string>
				<string>email</string>
				<string>eml</string>
				<string>emlx</string>
				<string>fol</string>
				<string>mai</string>
				<string>mbox</string>
				<string>mim</string>
				<string>msf</string>
				<string>msg</string>
				<string>nsf</string>
				<string>oab</string>
				<string>olm</string>
				<string>pst</string>
				<string>wab</string>
			</array>
		</dict>
		<dict>
			<key>Webfile</key>
			<array>
				<string>asp</string>
				<string>aspx</string>
				<string>att</string>
				<string>chm</string>
				<string>css</string>
				<string>download</string>
				<string>ece</string>
				<string>htm</string>
				<string>html</string>
				<string>js</string>
				<string>jsp</string>
				<string>php</string>
				<string>rss</string>
				<string>webloc</string>
				<string>xhtml</string>
			</array>
		</dict>
		<dict>
			<key>Archive</key>
			<array>
				<string>7z</string>
				<string>7zip</string>
				<string>apk</string>
				<string>bundle</string>
				<string>bz2</string>
				<string>bzip</string>
				<string>bzip2</string>
				<string>dist</string>
				<string>dmg</string>
				<string>gz</string>
				<string>gzip</string>
				<string>iso</string>
				<string>pkg</string>
				<string>rar</string>
				<string>sit</string>
				<string>sitx</string>
				<string>tar</string>
				<string>sit</string>
				<string>sitx</string>
				<string>tar</string>
				<string>tgz</string>
				<string>zip</string>
				<string>zipx</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
