.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 200px;
  border-bottom: 1px solid #dfdfdf;

  @media (max-width: 768px) {
    padding: 0px 24px;
  }
}

.nav {
  display: flex;
  gap: 32px;
}

.navList {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link {
  font-size: 18px;
  font-weight: 700;
  color: #4b5563;
  text-decoration: none;
}
