.dropdownContainer {
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    width: 130px;
    height: 42px;
    position: relative; 
    padding-left: 24px;
    padding-top: 12px;
}

.dropdownButton {
    width: 90px;
    height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: white;

}
.dropdownMenu ul {
    list-style-type: none;  /* 동그라미 점 제거 */
    padding: 0;             /* 기본 padding 제거 */
    margin: 0;              /* 기본 margin 제거 */
}

.dropdownMenu {
    display: block;
}

.dropdownItem {
    width: 90px;
    height: 23px;
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    border: 1px solid #e5e7eb;
    background-color: floralwhite;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e5e7eb; /* 항목 간 구분선 추가 */
}

.text {
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}
