.best-section {
  margin: 0 auto;
  width: 1200px;
  padding: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
