@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url('/styles/color.css');

* {
    font-family: pretendard;
}


.auth_box {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    width: 640px;
    padding: 20px;
    height: 100vh; 
    margin: 0 auto;
}

.auth_logo{
    padding-bottom: 40px;
}

.auth_contents{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width:640px;
}

.auth_content > a{
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
}

.a{
    margin-bottom: 16px;
}

.auth_content{
    display: flex;
    flex-direction: column;
    gap:16px;
    padding-top:12px;
    padding-bottom:12px;
    width: 640px;
}

input:focus{
    border-color:var(--blue100) ;
}

.info{
    height: 56px;
    border-radius: 12px;
    border-style: none;
    gap:10px;
    background-color:var(--gray100);

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;

    width:640px;
    box-sizing: border-box;
    

    padding-left: 24px;

}

.info:placeholder{
    color:#9CA3AF;
}

.info_pw{
    
    position:relative;
}

.eye {
    position: absolute;
    /* top: 50%;
    transform: translate(-50%, -50%); */
    top:16px;
    right:24px;
    cursor: pointer;
}
.button{
    width: 640px;
    height: 56px;
    border-radius: 40px;
    border-style: none;
    background-color: var(--gray400);
    margin-top:12px;
    margin-bottom: 24px;
    
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    color:var(--gray100);

    cursor:pointer;
}

.button:hover{
    background-color: var(--blue100);
}

.at_easy{
    width:640px;
    background-color: #E6F2FF;
    height: 74px;
    border-radius: 8px;
}

.auth_easy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 23px;
    height:42px;
}

.auth_easy > a{
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    color: var(--gray800);
}

.auth_icons{
    float:right;
    cursor: pointer;
}

.auth_first{
    padding-top: 24px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.auth_first>a{
    color:var(--blue100);
    cursor: pointer;
}