h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  color: var(--gray700);
  white-space: nowrap;
}

p {
  font-weight: 500px;
  font-size: 24px;
  line-height: 32px;
  color: var(--gray700);
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
}

header {
  height: 70px;
  padding: 9px 0;
  border-bottom: 1px solid #dfdfdf;
}

header > .container {
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8.59px;
  font-size: 25.63px;
  line-height: 34.6px;
}

.logo-img {
  width: 40px;
  height: 40.14px;
}

.banner {
  height: 540px;
  background-color: #cfe5ff;
  position: relative;
}

.banner-img {
  width: 100%;
  max-width: 746px;
  height: auto;
}

.banner-content {
  display: flex;
  position: absolute;
  bottom: 0;
}

.banner-text-content {
  display: flex;
  flex-direction: column;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 988px;
  height: 444px;
  background-color: #fcfcfc;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 64px;
  margin: 138px 466px;
}

.card img {
  width: 100%;
  max-width: 579px;
  height: auto;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #3692ff;
}

.card1 {
  padding: 0 47.5px 0 23.5px;
}

.card2 {
  padding: 0 14px 0 38px;
  flex-direction: row-reverse;
  text-align: end;
}

.card3 {
  padding-right: 9px;
}

footer {
  padding: 32px 0;
  background-color: var(--gray900);
  font-weight: 400;
  font-size: 16px;
  line-height: 19.09px;
}

footer > .container {
  justify-content: space-between;
}

.footer-left {
  color: var(--gray400);
}

.footer-center {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.footer-center a {
  color: var(--gray200);
}

.footer-center a:hover {
  text-decoration: underline;
}

.footer-right {
  display: flex;
  gap: 12px;
}

/* 태블릿 화면 */
@media (max-width: 1199px) {
  header .container {
    margin: 0 24px;
  }

  .banner {
    height: 90vh;
    position: relative;
  }

  .banner h1 {
    margin-bottom: 24px;
  }

  .banner-top br {
    display: none;
  }

  .banner-content {
    flex-direction: column;
  }

  .banner-text-content {
    align-items: center;
    position: absolute;
    left: 50%;
    right: 50%;
    text-align: center;
  }

  .banner-top .banner-text-content {
    bottom: 551px;
  }

  .banner-bottom .banner-text-content {
    bottom: 614px;
  }

  .banner-img {
    max-width: 9999px;
  }

  .main-section {
    padding: 24px 24px 56px;
  }

  .card {
    padding: 0;
    margin: 0;
    flex-direction: column;
    height: auto;
    background-color: #ffffff;
    gap: 24px;
  }

  .card img {
    width: 100%;
    max-width: 9999px;
  }

  .card h1 br {
    display: none;
  }

  .card1,
  .card3 {
    align-items: start;
  }

  .card2 {
    align-items: end;
  }

  .card .title,
  .card p {
    font-size: 18px;
  }

  .card h1 {
    font-size: 32px;
    line-height: 42px;
  }

  footer {
    padding: 32px 104px 108px;
  }
}

/* 모바일 화면 */
@media (max-width: 767px) {
  header .container {
    margin: 0 16px;
  }

  .logo-img {
    display: none;
  }

  .banner {
    height: 60vh;
  }

  .banner h1 {
    margin-bottom: 18px;
    font-size: 32px;
    line-height: 44.8px;
  }

  .btn.btn-lg {
    padding: 12px 71px;
    font-size: 18px;
    line-height: 26px;
  }

  .banner-top .banner-text-content {
    bottom: 336px;
  }

  .banner-bottom .banner-text-content {
    bottom: 329px;
  }

  .banner-top br {
    display: block;
  }

  .banner-text-content {
    gap: 18px;
  }

  .card .title,
  .card p {
    font-size: 16px;
  }

  .card h1 {
    font-size: 24px;
    line-height: 32px;
  }

  footer .container {
    flex-wrap: wrap;
  }

  .footer-left {
    order: 1;
  }
}
