.navContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #ffffff;
  border-bottom: 1px solid #dfdfdf;
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  height: 70px;
  align-items: center;
}

.menu {
  font-size: 18px;
  font-weight: bold;
  gap: 30px;
  display: flex;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: #4b5563;
}

.profileIc {
  width: 40px;
  height: 40px;
  margin-left: auto;
}
