@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
  font-family: pretendard;
}
header {
  z-index: 1000;
  top: 0;
  background-color: white;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
  height: 70px;

  border-bottom: 1px solid #dfdfdf;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 200px;

  gap: 32px;
}

.navLogo {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 153px;
  height: 51px;
}

.navLogo,
#div {
  font-family: ROKAF Sans;
  font-size: 19.5px;
  font-weight: 900;
  line-height: 34.6px;
  color: #3692ff;
}

.navContents {
  display: flex;
  gap: 30px;

  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}

.navContent {
  text-decoration: none;
  color: #4b5563;
}
.divider {
  flex-grow: 1;
}
.navProfile {
  height: 40px;
  width: 40px;
  background-color: #c8c9c7;
  border-radius: 50px;
  margin-right: 200px;
}

/* 미디어 쿼리 Mobile: 375px 이상 ~ 767px 이하 */

@media (max-width: 767px) {
  .navContainer {
    padding-left: 16px;
    gap: 10px;
  }

  .navContents {
    gap: 15px;
  }

  .navLogo > img {
    display: none;
  }

  .navProfile {
    margin-right: 16px;
    height: 32px;
    width: 32px;
  }
}

/* 미디어 쿼리 Tablet: 768px 이상 ~ 1199px 이하 */

@media (max-width: 1199px) and (min-width: 768px) {
}
