@use "../../assets/scss/base/mixins";

.auth-container {
  max-width: calc(64rem + var(--gutter) * 2);
  margin: 0 auto;
  padding: 12rem var(--gutter);

  @include mixins.mobile {
    max-width: calc(40rem + var(--gutter) * 2);
    padding: 8rem var(--gutter);
  }

  .auth-header {
    margin-bottom: 4rem;
    text-align: center;

    @include mixins.mobile {
      margin-bottom: 2.4rem;
    }

    .auth-logo {
      a {
        display: inline-block;
        height: 13.2rem;

        @include mixins.mobile {
          height: 6.6rem;
        }
      }

      img {
        width: auto;
        height: 100%;
      }
    }
  }

  .auth-body {
    margin-bottom: 2.4rem;
  }
}

.auth-options {
  text-align: center;
  font-size: 1.4rem;

  a {
    color: var(--color-primary-100);
    text-decoration: underline;
  }
}
