.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  padding: 0 2.4rem;
  min-width: 8rem;
  height: 3rem;
  font-weight: 600;
  border-radius: 0 0 1.6rem 1.6rem;
  background: var(--color-primary-100);
  color: var(--color-white);

  img {
    width: auto;
    height: 1.6rem;
    margin-top: -2px;
    margin-left: -4px;
  }
}
