.deleteButton {
  background-color: var(--secondary-400);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-left: 0.9rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteButton:hover {
  background-color: var(--primary-100);
}

.deleteIcon {
  width: 0.8rem;
  height: 0.8rem;
}
