.inputLabel {
  display: block;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: var(--secondary-800);
  margin: 3.2rem 0 1.6rem;

  @media (max-width: 1199px) {
    margin-top: 2.4rem;
  }
}

.inputField,
.textArea {
  background-color: var(--secondary-100);
  border: none;
  border-radius: 1.2rem;
  padding: 1.6rem 2.4rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
  width: 100%;
}

.inputField::placeholder,
.textArea::placeholder {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--secondary-400);
}

.inputField:focus,
.textArea:focus {
  outline-color: var(--primary-100);
}

.textArea {
  height: 28.2rem;
  resize: none;
}
